<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:void(0);">Manage</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="javascript:void(0);">Advance Payment</a>            
        </li>
    </ul>
</div>
<div class="row margin-top-20">
    <div class="col-md-12 col-lg-6">
        <div class="portlet light bordered weekly-reward">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green sbold uppercase">Service Fee Advance Payment</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="" id="ServiceFeeForm" name="ServiceFeeForm" method="post">
                    <div class="form-body">
                        <div class="form-group">
                            <label class=" control-label">Service Fee Advance Payment :</label>
                            <div>
                                <div class="input-group input-large">
                                    <input type="hidden" name="setting_id" id="servicefee_setting_id" ng-model="servicefee_setting_id">
                                    <input type="text" ng-model="servicefee_advance_payment" name="servicefee_advance_payment" maxlength="5" required="" class="form-control" placeholder="Payment" ng-keypress="filterValue($event)">
                                    <span class="input-group-addon">
                                        <i class="fa fa-percent"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class=" col-md-7">
                                <button type="submit" class="btn btn-green"><i class="fa fa-refresh"></i> Update</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green sbold uppercase">Job Budget Advance Payment</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="" id="JobBudgetForm" name="JobBudgetForm" method="post">
                    <div class="form-body">
                        <div class="form-group">
                            <label class=" control-label">Job Budget Advance Payment :</label>
                            <div>
                                <div class="input-group input-large">
                                    <input type="hidden" name="setting_id" id="jobbudget_setting_id" ng-model="jobbudget_setting_id">
                                    <input type="text" class="form-control" name="jobbudget_advance_payment" maxlength="5"  ng-model="jobbudget_advance_payment" placeholder="Payment" ng-keypress="filterValue($event)">
                                    <span class="input-group-addon">
                                        <i class="fa fa-percent"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-7">
                                <button type="submit" class="btn btn-green" ><i class="fa fa-refresh"></i> Update</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<script>
    
    //Update service fee payment
    var ServiceFeeForm = $('#ServiceFeeForm');
        var error2 = $('.alert-danger', ServiceFeeForm);
        var success2 = $('.alert-success', ServiceFeeForm);
        $.validator.addMethod("money",function (value, element) {
		 var isValidMoney = /^\d{0,4}(\.\d{0,2})?$/.test(value);
		 return this.optional(element) || isValidMoney;
	 },"Please enter value in 00.00 formate");
        ServiceFeeForm.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            rules: {
                servicefee_advance_payment: {
                    min: 0,
                    max: 100,
                    required: true,
                    money : true
                }
            },
            messages: {
                servicefee_advance_payment: {
                    required: "Service fee payment required."
                }
            },
            invalidHandler: function(event, validator) { //display error alert on form submit              
                success2.hide();
                error2.show();
                //App.scrollTo(error2, -200);
            },
            errorPlacement: function (from, error) { // render error placement for each input type
                error.parent(".input-group").size() > 0 ? from.insertAfter(error.parent(".input-group")) : error.attr("data-error-container") ? from.appendTo(error.attr("data-error-container")) : error.parents(".radio-list").size() > 0 ? from.appendTo(error.parents(".radio-list").attr("data-error-container")) : error.parents(".radio-inline").size() > 0 ? from.appendTo(error.parents(".radio-inline").attr("data-error-container")) : error.parents(".checkbox-list").size() > 0 ? from.appendTo(error.parents(".checkbox-list").attr("data-error-container")) : error.parents(".checkbox-inline").size() > 0 ? from.appendTo(error.parents(".checkbox-inline").attr("data-error-container")) : from.insertAfter(error)
            },
            highlight: function(element) { // hightlight error inputs
                $(element).closest('.form-group > div').removeClass("has-success").addClass('has-error'); // set error class to the control group   
            },
            submitHandler: function(form) {
                success2.show();
                error2.hide();
                //Submit data with ajax
                var formData = new FormData($("#ServiceFeeForm")[0]);
                $.ajax({
                    type: "POST",
                    url: 'settings/updatepayment',
                    contentType: false,
                    processData: false,
                    data: formData,
               }).done(function(data){
                    if(data.success){
                        toastr.success(data.message, 'Success');
                    }else{
                        toastr.error(data.message, 'Error');
                        return false;
                    }
              });
            //submit data with ajax end
            }
        });
    //Update service fee payment end
  
    //Update job budget payment
    var JobBudgetForm = $('#JobBudgetForm');
        var error2 = $('.alert-danger', JobBudgetForm);
        var success2 = $('.alert-success', JobBudgetForm);
        $.validator.addMethod("money",function (value, element) {
		 var isValidMoney = /^\d{0,4}(\.\d{0,2})?$/.test(value);
		 return this.optional(element) || isValidMoney;
	 },"Please enter value in 00.00 formate");
        JobBudgetForm.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            rules: {
                jobbudget_advance_payment: {
                    min: 0,
                    max: 100,
                    required: true,
                    money : true
                }
            },
            messages: {
                jobbudget_advance_payment: {
                    required: "Job budget advance payment required."
                }
            },
            invalidHandler: function(event, validator) { //display error alert on form submit              
                success2.hide();
                error2.show();
                //App.scrollTo(error2, -200);
            },
            errorPlacement: function (from, error) { // render error placement for each input type
                error.parent(".input-group").size() > 0 ? from.insertAfter(error.parent(".input-group")) : error.attr("data-error-container") ? from.appendTo(error.attr("data-error-container")) : error.parents(".radio-list").size() > 0 ? from.appendTo(error.parents(".radio-list").attr("data-error-container")) : error.parents(".radio-inline").size() > 0 ? from.appendTo(error.parents(".radio-inline").attr("data-error-container")) : error.parents(".checkbox-list").size() > 0 ? from.appendTo(error.parents(".checkbox-list").attr("data-error-container")) : error.parents(".checkbox-inline").size() > 0 ? from.appendTo(error.parents(".checkbox-inline").attr("data-error-container")) : from.insertAfter(error)
            },
            highlight: function(element) { // hightlight error inputs
                $(element).closest('.form-group > div').removeClass("has-success").addClass('has-error'); // set error class to the control group   
            },
            submitHandler: function(form) {
                success2.show();
                error2.hide();
                //Submit data with ajax
                var formData = new FormData($("#JobBudgetForm")[0]);
                $.ajax({
                    type: "POST",
                    url: 'settings/updatepayment',
                    contentType: false,
                    processData: false,
                    data: formData,
               }).done(function(data){
                    if(data.success){
                        toastr.success(data.message, 'Success');
                    }else{
                        toastr.error(data.message, 'Error');
                        return false;
                    }
              });
            //submit data with ajax end
            }
        });
    //Update service fee payment end
</script>
