<style>   
    .page-404{
        text-align: center;
    }
    .page-404 .number {
        position: relative;
        top: 35px;
        display: inline-block;
        margin-top: 0;
        margin-bottom: 10px;
        color: #7bbbd6;
        text-align: right;
    }

    .page-404 .number, .page-500 .number {
        letter-spacing: -10px;
        line-height: 128px;
        font-size: 128px;
        font-weight: 300;
    }

    .font-green {
        color: #14AC9C!important;
    }
</style>

<div class="page-bar">

</div>
<div class="row">
    <div class="col-md-12 page-404">
        <div class="number font-green">Coming Soon</div>

    </div>
</div>