<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:void(0);">Dashboard</a>                    
        </li>

    </ul>
</div>
<!-- END PAGE BAR -->

<!-- END PAGE HEADER-->
<!-- BEGIN DASHBOARD STATS 1-->
<!-- OVERALL SUMMARY -->
<div class="row margin-top-20">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light bordered dash-major-Details">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                    <div class="dashboard-stat margin-bottom-20 Total-members " style="cursor:pointer">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="desc ">
                                    Total Users
                                </div>
                            </div>     
                        </div>
                        <div class="clearfix"></div>
                        <div class="visual">
                            <i class="icon-all-users"></i>
                        </div>
                        <div class="clear-fix"></div>       
                        <div class="details">
                            <div class="number">
                                <span>[[ allstats.total_new_user.total_count]]</span>
                            </div>
                            <!--<div class="user-category">
                                <div><label>Agents:</label><span>3310</span> <span class="percent">( 55% )</span></div>
                                <div><label>Questioner:</label><span>3000</span> <span class="percent">( 55% )</span></div>
                             </div>-->
                            <div class="pev-month-incres-count">
                                <span>[[ allstats.user_diff]]</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                    <div class="dashboard-stat margin-bottom-20 Total-members " style="cursor:pointer">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="desc ">
                                    New Users
                                </div>
                            </div>     
                        </div>
                        <div class="clearfix"></div>
                        <div class="visual">
                            <i class="icon-new-user"></i>
                        </div>
                        <div class="clear-fix"></div>       
                        <div class="details">
                            <div class="number">
                               <span>[[ allstats.total_new_current_user.total_count]]</span>
                            </div>

                            <div class="pev-month-incres-count">
                                <span>[[ allstats.user_months_diff]]</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                    <div class="dashboard-stat margin-bottom-20 Total-members " style="cursor:pointer">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="desc ">
                                    New Jobs
                                </div>
                            </div>     
                        </div>
                        <div class="clearfix"></div>
                        <div class="visual">
                            <i class="fa fa-briefcase"></i>
                        </div>
                        <div class="clear-fix"></div>       
                        <div class="details">
                            <div class="number">
                                <span>[[ allstats.total_jobs.job_count]]</span>
                            </div>

                            <div class="pev-month-incres-count">
                                 <span>[[ allstats.new_jobs_diff]]</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
                    <div class="dashboard-stat margin-bottom-20 Total-members " style="cursor:pointer">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="desc ">
                                    Total Revenue
                                </div>
                            </div>     
                        </div>
                        <div class="clearfix"></div>
                        <div class="visual">
                            <i class="icon-Revenue"></i>
                        </div>
                        <div class="clear-fix"></div>       
                        <div class="details">
                            <div class="number">
                                <span>1024</span>
                            </div>

                            <div class="pev-month-incres-count">
                                <span>1% More From Last Month</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End OVERALL SUMMARY -->
<div class="clearfix"></div>
<!--Start-->
<div class="row ">
    <div class="col-md-12">

        <div class="portlet light bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class=" icon-social-twitter font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Recent Activities</span>
                </div>

            </div>
            <div class="portlet-body"><h4>Coming soon..</h4></div>
<!--
            <div class="portlet-body">
                <div class="tab-content">
                  
                    <div id="datatable_orders_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer weekly-list">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTable no-footer " id="datatable_orders" aria-describedby="datatable_orders_info" role="grid">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th width="40%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-label=" Order&amp;nbsp;# : activate to sort column descending"> Recent Activities </th>
                                        <th width="20%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-label=" Member : activate to sort column ascending"> Times</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr role="row" class="odd">

                                        <td>Melissa James signed as a Questioner</td>
                                        <td>38 Mins Ago</td>


                                    </tr>
                                    <tr role="row" class="even">

                                        <td>Catherine Brooks signed as a Agent </td>
                                        <td>2 Hours Ago</td>


                                    </tr>
                                    <tr role="row" class="odd">
                                        <td>Alan Mitchell posted a new job </td>
                                        <td>5 Hours Ago</td>

                                    </tr>
                                    <tr role="row" class="even">

                                        <td>Lois Wood assigned a new job to Racheal Jene </td>
                                        <td>9 Hours Ago</td>


                                    </tr>
                                    <tr role="row" class="even">

                                        <td>Melissa James completed a Job</td>
                                        <td> 1 Day Ago</td>


                                    </tr>
                                    <tr role="row" class="odd">

                                        <td>Ben Stokes posted a new job</td>
                                        <td>2 Days Ago</td>


                                    </tr>
                                    <tr role="row" class="even">

                                        <td>Alex Butcher signed as a Questioner</td>
                                        <td>3 Days Ago</td>


                                    </tr>
                                    <tr role="row" class="odd">

                                        <td>Dennis Rose signed as a Agent</td>
                                        <td>1 Month Ago</td>


                                    </tr>
                                    <tr role="row" class="even">

                                        <td>100 HK$ Credited to Jon Snow</td>
                                        <td>05/Jun/16</td>


                                    </tr>
                                    <tr role="row" class="even">

                                        <td>50 HK$ Debited from Luis Todd</td>
                                        <td>01/Jun/16</td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <div class="dataTables_paginate paging_bootstrap_extended">
                                    <div class="pagination-panel"> Page <a href="#" class="btn btn-sm default prev disabled"><i class="fa fa-angle-left"></i></a>
                                        <input type="text" class="pagination-panel-input form-control input-sm input-inline input-mini" maxlenght="5" style="text-align:center; margin: 0 5px;"><a href="#" class="btn btn-sm default next"><i class="fa fa-angle-right"></i></a> of <span class="pagination-panel-total">18</span>
                                    </div>
                                </div>
                                <div class="dataTables_length">
                                    <label><span class="seperator">|</span>View
                                        <select name="datatable_orders_length" aria-controls="datatable_orders" class="form-control input-xs input-sm input-inline">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="150">150</option>
                                            <option value="-1">All</option>
                                        </select> records</label>
                                </div>
                                <div class="dataTables_info"><span class="seperator">|</span>Found total 178 records</div>
                            </div>
                            <div class="col-md-4 col-sm-12"></div>
                        </div>
                    </div>
                   
                </div>
            </div>
-->
        </div>
    </div>
</div>