<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:void(0);">Manage</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="javascript:void(0);">Job Categories</a>            
        </li>
    </ul>

</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<!-- Start Category Listing-->
<div class="row margin-top-20">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green sbold uppercase"> Job Categories </span>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-green" id="btn_add_category" ng-click="OpenAddCategoryModal()">
                        <i class="fa fa-plus"></i> ADD NEW CATEGORY </a>
                </div>
            </div>
            <div class="portlet-body">
                <input type="hidden" name="hidden_category" id="hidden_category" value="">
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="TableCategoryList">
                    <thead>
                        <tr>
                            <th>Id </th>
                            <th>Category Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>

<div class="row margin-top-20">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green sbold uppercase"> Job Sub Categories </span>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-green" id="btn_add_Sub_category" ng-click="OpenAddSubCategoryModal()">
                        <i class="fa fa-plus"></i> ADD NEW SUB CATEGORY </a>
                </div>
            </div>
            <div class="portlet-body">
                <input type="hidden" name="hidden_sub_category" id="hidden_sub_category" value="">
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="TablesubCategoryList">
                    <thead>
                        <tr>
                            <th>Id </th>
                            <th>Name</th>
                            <th>Category Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>
<!-- End Category Listing-->
<!-- Start Job Listing-->
<!--<div class="row margin-top-20">
    <div class="col-md-12">
       
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green sbold uppercase"> Job List </span>
                </div>
                <div class="actions"></div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <div id="datatable_orders_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                        <div class="table-scrollable margin-top-20">
                            <table class="table table-striped table-bordered table-hover table-checkable dataTable no-footer" id="datatable_orders" aria-describedby="datatable_orders_info" role="grid">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th class="sorting" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" > Id </th>
                                        <th  tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" >Job Title</th>
                                        <th  tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" > Start Date </th>
                                        <th  tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" > Status </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">209</td>
                                        <td>Where to get drilling machine in large quantity?</td>
                                        <td>21/Aug/16 09:15 PM</td>
                                        <td><button class="btn btn-sm btn-info btn-block filter-submit margin-bottom">
                                                <i class="fa fa-external-link"></i> open</button>
                                        </td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">208</td>
                                        <td>How to get textbook for all schools?</td>

                                        <td>20/Aug/16 04:35 AM</td>

                                        <td>
                                            <button class="btn btn-sm btn-primary btn-block filter-submit margin-bottom">
                                                <i class="fa fa-cog"></i> In Process
                                            </button>
                                        </td>
                                    </tr>
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">207</td>
                                        <td>Need to get lots of Pepsi cans </td>

                                        <td>18/Aug/16 05:55 PM</td>

                                        <td>
                                            <button class="btn btn-sm purple btn-block filter-submit margin-bottom">
                                                <i class="icon-application-form"></i> Applied
                                            </button>
                                        </td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">206</td>
                                        <td>Where would I get 10000 quantity of bricks? </td>
                                        <td>17/Aug/16 08:23 PM</td>
                                        <td>
                                            <button class="btn btn-sm btn-success btn-block filter-submit margin-bottom">
                                                <i class="icon-check"></i> Complete
                                            </button>
                                        </td>
                                    </tr>
                                    <tr role="row" class="even">

                                        <td class="sorting_1">205</td>
                                        <td>Where to get drilling machine in large quantity? </td>

                                        <td>21/Aug/16 09:15 PM</td>

                                        <td>
                                            <button class="btn btn-sm btn-danger btn-block filter-submit margin-bottom">
                                                <i class="fa fa-close"></i> Cancelled
                                            </button>
                                        </td>
                                    </tr>
                                    <tr role="row" class="odd">

                                        <td class="sorting_1">204</td>
                                        <td>How to get textbook for all schools? </td>

                                        <td>15/Aug/16 09:11 AM</td>

                                        <td>
                                            <button class="btn btn-sm yellow btn-block filter-submit margin-bottom">
                                                <i class="icon-pause"></i> Pause
                                            </button>
                                        </td>
                                    </tr>
                                    <tr role="row" class="even">
                                        <td class="sorting_1">203</td>
                                        <td>Need to get lots of Pepsi cans</td>

                                        <td>12/Aug/16 11:59 PM</td>

                                        <td>
                                            <button class="btn btn-sm btn-danger btn-block filter-submit margin-bottom">
                                                <i class="fa fa-close"></i>Cancelled
                                            </button>
                                        </td>
                                    </tr>
                                    <tr role="row" class="odd">

                                        <td class="sorting_1">202</td>
                                        <td>Where to get drilling machine in large quantity?</td>

                                        <td>11/Aug/16 01:13 PM</td>

                                        <td>
                                            <button class="btn btn-sm yellow btn-block filter-submit margin-bottom">
                                                <i class="icon-pause"></i> Pause
                                            </button>
                                        </td>
                                    </tr>
                                    <tr role="row" class="even">

                                        <td class="sorting_1">201</td>
                                        <td>Where to get drilling machine in large quantity?</td>

                                        <td>21/Aug/16 09:15 PM</td>

                                        <td>
                                            <button class="btn btn-sm btn-info btn-block filter-submit margin-bottom">
                                                <i class="fa fa-external-link"></i> open
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <div class="dataTables_paginate paging_bootstrap_extended">
                                    <div class="pagination-panel"> Page <a href="#" class="btn btn-sm default prev disabled"><i class="fa fa-angle-left"></i></a>
                                        <input type="text" class="pagination-panel-input form-control input-sm input-inline input-mini" maxlength="5" style="text-align:center; margin: 0 5px;"><a href="#" class="btn btn-sm default next"><i class="fa fa-angle-right"></i></a> of <span class="pagination-panel-total">18</span>
                                    </div>
                                </div>
                                <div class="dataTables_length">
                                    <label><span class="seperator">|</span>View
                                        <select name="datatable_orders_length" aria-controls="datatable_orders" class="form-control input-xs input-sm input-inline">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="150">150</option>
                                            <option value="-1">All</option>
                                        </select> records</label>
                                </div>
                                <div class="dataTables_info"><span class="seperator">|</span>Found total 178 records</div>
                            </div>
                            <div class="col-md-4 col-sm-12"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div> -->
<!-- End Job Listing-->
<!-- Start Add & Update Category-->

<!-- End Add & Update Category-->
<!-- Additional Filed-->          
<!--<div class="row">
    <div class="col-md-12">
         Begin: life time stats 
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green sbold uppercase"> Additional Fields </span>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-green pull-right" data-toggle="collapse" data-target="#Add-Category"><i class="fa fa-plus"></i> Add New Field</a>
                </div>

            </div>
            <div class="portlet-body">
                <div class="collapse row ad-new-stm " id="Add-Category">
                    <div class="col-sm-12">
                        <form class="form-inline" role="form" name="AddAdditionalfieldForm" id="AddAdditionalfieldForm" method="post">
                            <div class="form-group">
                                <label class="sr-only" >Field Name</label>
                                <input type="text" class="form-control" required="" name="field_name" ng-model="field_name" placeholder="Field Name">
                                <span style="color:#e73d4a" ng-show="AddAdditionalfieldForm.field_name.$dirty && AddAdditionalfieldForm.field_name.$invalid">
                                    <span ng-show="AddAdditionalfieldForm.field_name.$error.required">Field Name required.</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Field Type</label>
                                <select class="form-control btn-block" name="field_type" ng-model="field_type" required="">
                                    <option value="">Select Field Type</option>
                                    <option value="1">Textbox</option>
                                    <option value="2">Dropdown</option>
                                    <option value="3">Checkbox</option>
                                    <option value="4">Button</option>
                                </select>
                                <span style="color:#e73d4a" ng-show="AddAdditionalfieldForm.field_type.$dirty && AddAdditionalfieldForm.field_type.$invalid">
                                    <span ng-show="AddAdditionalfieldForm.field_type.$error.required">Please select field type.</span>
                                </span>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Visibility</label>
                                <select class="form-control" name="status" required="" ng-model="status">
                                    <option value="">Select Visibility</option>
                                    <option value="1">Show</option>
                                    <option value="2">Hide</option>
                                </select>
                                <span style="color:#e73d4a" ng-show="AddAdditionalfieldForm.status.$dirty && AddAdditionalfieldForm.status.$invalid">
                                    <span ng-show="AddAdditionalfieldForm.status.$error.required">Please select visibility status.</span>
                                </span>
                            </div>
                            <div class="text-right pull-right  xs-btn-block">
                                <button type="submit" class="btn btn-green xs-btn-block"><i class="fa fa-save"></i> Save</button>
                                <a href="javascript:;" class="btn btn-green xs-btn-block" ng-disabled="AddAdditionalfieldForm.$invalid" ng-click="AddAdditionalfields()"><i class="fa fa-save"></i> Save</a>
                                <a href="javascript:;" data-toggle="collapse" data-target="#Add-Category" class="btn btn-default xs-btn-block" onclick="$('#AddAdditionalfieldForm')[0].reset();"><i class="fa fa-close"></i> Clear</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-container">
                    <div id="datatable_orders_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover table-checkable dataTable no-footer staff-detail-tbl" id="datatable_orders" aria-describedby="datatable_orders_info" role="grid">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th width="5%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-label=" Order&amp;nbsp;# : activate to sort column descending">#</th>
                                        <th width="20%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-label=" Member : activate to sort column ascending"> Field</th>
                                        <th width="15%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-label=" Purchased&amp;nbsp;On : activate to sort column ascending"> Type </th>
                                        <th width="15%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-label=" Purchased&amp;nbsp;On : activate to sort column ascending"> Show</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in alldata" role="row" ng-class-odd="'odd'" ng-class-even="'even'">
                                        <td>[[x.category_additional_field_id]]</td>
                                        <td>[[x.field_name]]</td>
                                        <td>[[x.field_type]]</td>
                                        <td><input type="checkbox" name="checkbox" ng-checked="[[x.status == 1]]"/> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                                                <div class="row">
                                                    <div class="col-md-8 col-sm-12">
                                                        <div class="dataTables_paginate paging_bootstrap_extended">
                                                            <div class="pagination-panel"> Page <a href="#" class="btn btn-sm default prev disabled"><i class="fa fa-angle-left"></i></a>
                                                                <input type="text" class="pagination-panel-input form-control input-sm input-inline input-mini" maxlength="5" style="text-align:center; margin: 0 5px;"><a href="#" class="btn btn-sm default next"><i class="fa fa-angle-right"></i></a> of <span class="pagination-panel-total">18</span>
                                                            </div>
                                                        </div>
                                                        <div class="dataTables_length">
                                                            <label><span class="seperator">|</span>View
                                                                <select name="datatable_orders_length" aria-controls="datatable_orders" class="form-control input-xs input-sm input-inline">
                                                                    <option value="10">10</option>
                                                                    <option value="20">20</option>
                                                                    <option value="50">50</option>
                                                                    <option value="100">100</option>
                                                                    <option value="150">150</option>
                                                                    <option value="-1">All</option>
                                                                </select> records</label>
                                                        </div>
                                                        <div class="dataTables_info"><span class="seperator">|</span>Found total 178 records</div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-12"></div>
                                                </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
     End: life time stats 
</div>-->

<!-- End Additional Filed-->
<div class="modal fade" id="modal_add_category" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form action="#" class="form-horizontal" name="FormAddCategory" id="FormAddCategory" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title bold">ADD NEW CATEGORY</h4>
                </div>
                <div class="modal-body form">                
                    <div class="form-body">                        
                        <div class="form-group">
                            <label class="col-md-4 control-label">Category Name :</label>
                            <div class="col-md-8">                                    
                                <input type="text" class="form-control input-medium" placeholder="Category Name" name="category_name">                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button type="submit" class="btn btn-green"><i class="fa fa-save"></i> Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>                
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
</div>
<!-- /.modal-dialog -->
<!-- End Additional Filed-->
<div class="modal fade" id="modal_add_subcategory" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <form  class="form-horizontal" name="FormAddSubCategory" id="FormAddSubCategory" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title bold">ADD SUB NEW CATEGORY</h4>
                </div>
                <div class="modal-body form">  
                    <div class="form-body">                        
                        <div class="form-group">
                            <label class="col-md-4 control-label">Main Category Name :</label>
                            <div class="col-md-8"> 
                                <select class="form-control input-medium" ng-model="selectedmain" name="category_id">
                                    <option value="" >--------- Select Category -----------</option>
                                   <option ng-repeat="item in main_Cate" ng-init="$first" value="[[item.category_id]]">
                                    [[item.category_name]]
                                  </option> 
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Sub Category Name :</label>
                            <div class="col-md-8">                                    
                                <input type="text" class="form-control input-medium" placeholder="Sub Category Name" name="sub_category_name">                                
                            </div>
                        </div>
                        
                    </div>
                    </div>
                <div class="modal-footer" style="text-align: center">
                    <button type="submit" class="btn btn-green"><i class="fa fa-save"></i> Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>                
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
</div>
<!-- /.modal-dialog -->

<!-- End Additional Filed-->
 
<!-- /.modal-dialog -->
<!-- Update category modal -->
<div class="modal fade" id="modal_edit_category" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <form action="#" class="form-horizontal" name="FormEditCategory" id="FormEditCategory" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title bold">EDIT CATEGORY</h4>
                </div>
                <div class="modal-body form">                
                    <div class="form-body">                        
                        <div class="form-group">
                            <label class="col-md-4 control-label">Category Name :</label>
                            <div class="col-md-8">
                                <input type="hidden" name="category_id" id="category_id">
                                <input type="text" class="form-control input-medium" placeholder="Category Name" name="category_name" id="category_name">                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button type="submit" class="btn btn-green"><i class="fa fa-refresh"></i> Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>                
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- -->
</div>
<!---- Modal for jobs categories  -->
<!-- Update category modal -->
<div class="modal fade" id="modal_edit_sub_category" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <form class="form-horizontal" name="FormEditSubCategory" id="FormEditSubCategory" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title bold">EDIT SUB CATEGORY</h4>
                </div>
                <div class="modal-body form">                
                    <div class="form-body">                        
                        <div class="form-group">
                        <label class="col-md-4 control-label">Category Name :</label>
                            <div class="col-md-8">
                                <input type="hidden" name="selected_category_id" id="selected_category_id">
                                    <select class="form-control input-medium" ng-model="selectedMainEdit" name="selectcategory_id" id="selectcategory_id">
                                   <option ng-repeat="item in main_Cate"   ng-init="$first"  value="[[item.category_id]]">
                                    [[item.category_name]]
                                  </option> 
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Sub Category Name :</label>
                            <div class="col-md-8">
                                <input type="hidden" name="sub_category_id" id="sub_category_id">
                                <input type="text" class="form-control input-medium" placeholder="Sub Category Name" name="sub_category_name" id="edit_sub_category_name">                                
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button type="submit" class="btn btn-green"><i class="fa fa-refresh"></i> Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>                
                </div>
            </div>
        </form>
        <!-- /.modal-content -->
    </div>
    <!-- -->
</div>
<!---- Modal for jobs categories  -->
<div id="jobs_listing" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-list"></i><span> Jobs based on categories</span></h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="TableJobs">
                    <thead>
                        <tr>
                            <th>Id </th>
                            <th>Job Title</th>
                            <th>Start Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!---- Modal for jobs categories end here --->

<script>
    $(document).ready(function() {

        $(document).on('click', '.disable_link', function(e) {
            e.preventDefault();
            location.reload();            
         });

        var FormAddCategory = $('#FormAddCategory');
        var error2 = $('.alert-danger', FormAddCategory);
        var success2 = $('.alert-success', FormAddCategory);
        FormAddCategory.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            rules: {
                category_name: {
                    minlength: 2,
                    required: true,
                    remote: {
                        url: 'settings/checkcategoryname',
                        type: "post"
                    }
                }
            },
            messages: {
                category_name: {
                    required: "Category name is required.",
                    remote: "Category name already exist."
                },
            },
            invalidHandler: function(event, validator) { //display error alert on form submit              
                success2.hide();
                error2.show();
                App.scrollTo(error2, -200);
            },
            highlight: function(element) { // hightlight error inputs
                $(element).closest('.form-group').removeClass("has-success").addClass('has-error'); // set error class to the control group   
            },
            submitHandler: function(form) {
                success2.show();
                error2.hide();
                //Submit data with ajax
                var formData = new FormData($("#FormAddCategory")[0]);
                $.ajax({
                    type: "POST",
                    url: 'settings/addjobcategory',
                    contentType: false,
                    processData: false,
                    data: formData,
                }).done(function(data) {
                    if (data.success) {
                        toastr.success(data.message, 'Success');
                        //Clean add category form
                        $('#FormAddCategory')[0].reset();
                        $('#modal_add_category').modal('hide');
                        //Draw table
                        table.fnDraw();
                    } else {
                        toastr.error(data.message, 'Error');
                        return false;
                    }
                });

            }
        });

        //Set category detail in edit category form
        $(document).on('click', '.edit_category', function() {
            var category_id = $(this).attr('data-id');
            $.ajax({
                type: "POST",
                url: 'settings/jobcategorydetail',
                dataType: "json",
                data: {category_id: category_id},
            }).done(function(data) {
                if (data.success) {
                    $('#FormEditCategory')[0].reset();
                    $('#category_id').val(data.category_id);
                    $('#category_name').val(data.category_name);
                    $('#modal_edit_category').modal('show');
                }
                else
                {
                    return false;
                }
            });
        });
        
        //Job categories datatable code start
        var tableCategory = $('#TableCategoryList');
        

        //Update category code
        var FormEditCategory = $('#FormEditCategory');
        var error2 = $('.alert-danger', FormEditCategory);
        var success2 = $('.alert-success', FormEditCategory);
        FormEditCategory.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            rules: {
                category_name: {
                    minlength: 2,
                    required: true,
                    remote: {
                        url: "settings/checkcategoryname",
                        type: "post",
                        data: {
                            category_name: function() {
                                return $("#category_name").val();
                            },
                            category_id: function() {
                                if (typeof ($("#category_id").val()) != 'undefined')
                                {
                                    return $("#category_id").val();
                                } else {
                                    return '';
                                }
                            },
                        }
                    }
                }
            },
            messages: {
                category_name: {
                    required: "Category name is required.",
                    remote: "Category name already exist."
                },
            },
            invalidHandler: function(event, validator) { //display error alert on form submit              
                success2.hide();
                error2.show();
                App.scrollTo(error2, -200);
            },
            highlight: function(element) { // hightlight error inputs
                  success2.hide();
                $(element).closest('.form-group').removeClass("has-success").addClass('has-error'); // set error class to the control group   
            },
            submitHandler: function(form) {
                success2.show();
                error2.hide();
                //Submit data with ajax
                var formData = new FormData($("#FormEditCategory")[0]);
                $.ajax({
                    type: "POST",
                    url: 'settings/editjobcategory',
                    contentType: false,
                    processData: false,
                    data: formData,
                }).done(function(data) {
                    if (data.success) {
                        toastr.success(data.message, 'Success');
                        //Clean edit category form
                        $('#FormEditCategory')[0].reset();
                        $('#modal_edit_category').modal('hide');
                        //Draw table
                        tableCategory.fnDraw();
                        table.fnDraw();
                    } else {
                        toastr.error(data.message, 'Error');
                        return false;
                    }
                });
                //submit data with ajax end
            }
        });

        

        // begin first table
        tableCategory.dataTable({
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "processing": false,
            "serverSide": true,
            "ajax": "settings/alljobcategories",
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No record (s) available.",
                "info": "Found _START_ to _END_ of _TOTAL_ records",
                "infoEmpty": "No records found",
                "infoFiltered": "(filtered1 from _MAX_ total records)",
                "lengthMenu": "View _MENU_ records",
                "search": "Search:",
                "zeroRecords": "No matching records found",
                "paginate": {
                    "previous": "Prev",
                    "next": "Next",
                    "last": "Last",
                    "first": "First"
                }
            },
            "dom": "<'row'<'col-md-6 col-sm-12'><'col-md-6 col-sm-12'>r>t<'row'<'col-md-3 col-sm-12'l><'col-md-4 col-sm-12'i><'col-md-5 col-sm-12 text-right'p>>",
            "bStateSave": false, // save datatable state(pagination, sort, etc) in cookie.
            "columns": [
                {"data": "category_id", "name": "category_id", "width": "8%", "orderable": false, "searchable": false},
                {"data": "category_name", "name": "category_name", "width": "45%", "orderable": false, "searchable": false},
                {"data": "id", "name": "id", "width": "13%", "orderable": false, "searchable": false}
               //  {"data": "id", "name": "id", "width": "10%", "orderable": false, "searchable": false}
            ],
            ordering: false,
            "lengthMenu": [
                [10, 30, 50, -1],
                [10, 30, 50, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 10,
            "pagingType": "bootstrap_full_number"
        });


        var getJobId = 0;

        // begin first table
        //var oTable = $('#TableJobs').DataTable();
        var jobslisting = $('#TableJobs').dataTable({
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "processing": false,
            "serverSide": true,
            "ajax": {
                'type': 'POST',
                'url': base_url + "jobs/alljobs",
                'data': function(params) {
                    params.jobs_categories = getJobId;
                    params.jobs_status = 0;
                }
            },
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No record (s) available.",
                "info": "Found _START_ to _END_ of _TOTAL_ records",
                "infoEmpty": "No records found",
                "infoFiltered": "(filtered1 from _MAX_ total records)",
                "lengthMenu": "View _MENU_ records",
                "search": "Search:",
                "zeroRecords": "No matching records found",
                "paginate": {
                    "previous": "Prev",
                    "next": "Next",
                    "last": "Last",
                    "first": "First"
                }
            },
            "dom": "<'row'<'col-md-6 col-sm-12'><'col-md-6 col-sm-12'>r>t<'row'<'col-md-3 col-sm-12'l><'col-md-4 col-sm-12'i><'col-md-5 col-sm-12 text-right'p>>",
            "bStateSave": false, // save datatable state(pagination, sort, etc) in cookie.
            "columns": [
                {"data": "job_id", "name": "job_id", "searchable": true},
                {"data": "job_title", "name": "job_title", "searchable": true},
                {"data": "job_start_on", "name": "job_start_on"},
                {"data": "job_status", "name": "job_status", "render": function(data, type, row) {
                        if (data == 1) { // Created
                            $(".label-created").parent();
                            return '<button class="btn btn-sm btn-info btn-block filter-submit margin-bottom"> <i class="fa fa-external-link"></i> Open</button>';
                        } else if (data == 3) { // In Processing
                            $(".label-inreview").parent();
                            return '<button class="btn btn-sm btn-primary btn-block filter-submit margin-bottom"> <i class="fa fa-cog"></i> In Process</button>';
                        } else if (data == 5) { // Shipped
                            $(".label-active").parent();
                            return '<button class="btn btn-sm yellow btn-block filter-submit margin-bottom"> <i class="icon-pause"></i> Pause</button>';
                        } else if (data == 4) { // Received
                            $(".label-expired").parent();
                            return '<button class="btn btn-sm btn-success btn-block filter-submit margin-bottom"> <i class="icon-check"></i> Complete</button>';
                        } else if (data == 7) { // Cancled
                            $(".label-cancelled").parent();
                            return '<button class="btn btn-sm btn-danger btn-block filter-submit margin-bottom"> <i class="fa fa-close"></i> Cancelled</button>';
                        }
                    }},
            ],
            ordering: true,
            "lengthMenu": [
                [10, 30, 50, -1],
                [10, 30, 50, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 10,
            "pagingType": "bootstrap_full_number"
        });

        var oTable = $('#TableJobs').DataTable();
        $(document).on('click', '.view_jobs', function() {

            getJobId = $(this).data('id');
            $("#hidden_category").val(getJobId);
            oTable.search($(this).val()).draw();
            $("#jobs_listing").modal('show');

        });
        
        $(document).on('click', '.delete_category', function(){
            
            var category_id = $(this).attr('data-id');
            var category_option = '1';
        bootbox.confirm("Are you sure, you want to delete this category?", function (result) {
            //if user confirm ok then process delete category
        if (result) {   
        $.ajax({
                type: "POST",
                url: 'settings/categorydelete',
                dataType: "json",
                data: {category_id: category_id, category_option: category_option},
            }).done(function(data) {
                if (data.success) {
                        tableCategory.fnDraw();
                        toastr.success(data.message, 'Success'); 
                  }
                else
                {
                    return false;
                }
            });
            }
        });
        });
        
        $(document).on('click', '.delete_sub_category', function(){
           var category_id = $(this).attr('data-id');
           var category_option = '2';
           bootbox.confirm("Are you sure, you want to delete this subcategory?", function (result) {
            //if user confirm ok then process delete category
            if (result) {
            $.ajax({
                type: "POST",
                url: 'settings/categorydelete',
                dataType: "json",
                data: {category_id: category_id, category_option: category_option},
            }).done(function(data) {
                if (data.success) {
                        tableCategory.fnDraw();
                        table.fnDraw();
                        toastr.success(data.message, 'Success'); 
                  }
                else
                {
                    return false;
                }
            });
            }
        });
    });
        
        
        
        
        
        var table = $('#TablesubCategoryList');
        
        // begin first table
        table.dataTable({
            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
            "processing": false,
            "serverSide": true,
            "ajax": "settings/allsubcategories",
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No record (s) available.",
                "info": "Found _START_ to _END_ of _TOTAL_ records",
                "infoEmpty": "No records found",
                "infoFiltered": "(filtered1 from _MAX_ total records)",
                "lengthMenu": "View _MENU_ records",
                "search": "Search:",
                "zeroRecords": "No matching records found",
                "paginate": {
                    "previous": "Prev",
                    "next": "Next",
                    "last": "Last",
                    "first": "First"
                }
            },
            "dom": "<'row'<'col-md-6 col-sm-12'><'col-md-6 col-sm-12'>r>t<'row'<'col-md-3 col-sm-12'l><'col-md-4 col-sm-12'i><'col-md-5 col-sm-12 text-right'p>>",
            "bStateSave": false, // save datatable state(pagination, sort, etc) in cookie.
            "columns": [
                {"data": "sub_category_id", "name": "sub_category_id", "width": "10%", "orderable": false, "searchable": false},
                {"data": "sub_category_name", "name": "sub_category_name", "width": "10%", "orderable": false, "searchable": false},
                {"data": "category_name", "name": "category_name", "width": "45%", "orderable": false, "searchable": false},
                {"data": "id", "name": "id", "width": "15%", "orderable": false, "searchable": false}
            ],
            ordering: false,
            "lengthMenu": [
                [10, 30, 50, -1],
                [10, 30, 50, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 10,
            "pagingType": "bootstrap_full_number"
        });
        
        
         //Set category detail in edit category form
        $(document).on('click', '.edit_sub_category', function() {
            var category_id = $(this).attr('data-id');
            $.ajax({
                type: "POST",
                url: 'settings/subcategorydetail',
                dataType: "json",
                data: {category_id: category_id},
            }).done(function(data) {
                if (data.success) {
                    
                    $('#FormEditSubCategory')[0].reset();
                    $('#sub_category_id').val(data.sub_category_id);
                    $('#edit_sub_category_name').val(data.sub_category_name);
                    $("#selectcategory_id").val(data.category_id);
                    
//                     console.log(data.sub_cat);
//                   jQuery.each(data.sub_cat, function(i, val) {
//                            console.log(i + val);
//                      });
                            $().val();
                   // $('#selected_category_id').val(data.sub_category.category_id);
                   // $('#MainCategorySelect').val(data.sub_category.category_id);
                    $('#modal_edit_sub_category').modal('show');
                    console.log(data);
                  //   $('#MainCategorySelect option[value="'+data.category_id+'"]').attr("selected","selected");
                   // $('select[name^="MainCategorySelect"] option[value="'+ data.sub_category.category_id+'"]').attr("selected","selected");
                }
                else
                {
                    return false;
                }
            });
        });
        
        var FormEditSubCategory = $('#FormEditSubCategory');
        var error4 = $('.alert-danger', FormEditSubCategory);
        var success4 = $('.alert-success', FormEditSubCategory);
        FormEditSubCategory.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            rules: {
                selectcategory_id:{required: true},
                sub_category_name: {
                    minlength: 2,
                    required: true,
//                    remote: {
//                        url: "settings/checksubcategoryname",
//                        type: "post",
//                        data: {
//                            sub_category_name: function() {
//                                return $("#sub_category_name").val();
//                            },
//                            sub_category_id: function() {
//                                if (typeof ($("#sub_category_id").val()) != 'undefined')
//                                {
//                                    return $("#category_id").val();
//                                } else {
//                                    return '';
//                                }
//                            },
//                        }
//                    }
                }
            },
            messages: {
                selectcategory_id:{required: "Select Main category."},
                sub_category_name: {
                    required: "Sub Category name is required.",
                    remote: " Sub Category name already exist."
                }
            },
            invalidHandler: function(event, validator) { //display error alert on form submit              
                    success4.hide();
                    error4.show();
                    App.scrollTo(error3, -200);
                },
                highlight: function(element) { // hightlight error inputs
                     success4.show();
                    $(element).closest('.form-group').removeClass("has-success").addClass('has-error'); // set error class to the control group   
                },
                submitHandler: function(form) {
                    success4.show();
                    error4.hide();
                //Submit data with ajax
                var formData = new FormData($("#FormEditSubCategory")[0]);
                $.ajax({
                    type: "POST",
                    url: 'settings/editsubcategory',
                    contentType: false,
                    processData: false,
                    data: formData,
                }).done(function(data) {
                    if (data.success) {
                        toastr.success(data.message, 'Success');
                        //Clean edit category form
                        $('#FormEditSubCategory')[0].reset();
                        $('#modal_edit_sub_category').modal('hide');
                        //Draw table
                        table.fnDraw();
                    } else {
                        toastr.error(data.message, 'Error');
                        return false;
                    }
                });
                //submit data with ajax end
            }
        });

            var FormAddSubCategory = $('#FormAddSubCategory');
            var error3 = $('.alert-danger', FormAddSubCategory);
            var success3 = $('.alert-success', FormAddSubCategory);
            
            FormAddSubCategory.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "", // validate all fields including form hidden input
                rules: {
                    category_id:{required: true},
                    sub_category_name: {
                        required: true,
                        remote: {
                                url: 'settings/checksubcategoryname',
                                type: "post"
                        }
//                         remote: {
//                        url: "settings/checksubcategoryname",
//                        type: "post",
//                        data: {
//                            sub_category_name: function() {
//                                return $("#sub_category_name").val();
//                            }
//                        }
//                    }
                   }
                },
                messages: {
                    category_id:{
                        required: "Select Main category."
                    },
                    sub_category_name: {
                        required: "Sub category name is required.",
                        remote: " Sub Category name already exist."
                    },
                },
                invalidHandler: function(event, validator) { //display error alert on form submit              
                    success3.hide();
                    error3.show();
                    App.scrollTo(error3, -200);
                },
                highlight: function(element) { // hightlight error inputs
                     success3.show();
                    $(element).closest('.form-group').removeClass("has-success").addClass('has-error'); // set error class to the control group   
                },
                submitHandler: function(form) {
                    success3.show();
                    error3.hide();
                   
                    //Submit data with ajax
                    var formData = new FormData($("#FormAddSubCategory")[0]);
                    $.ajax({
                        type: "POST",
                        url: 'settings/addsubcategory',
                        contentType: false,
                        processData: false,
                        data: formData,
                        }).done(function(data) {
                        if (data.success) {
                            toastr.success(data.message, 'Success');
                            //Clean add category form
                            $('#FormAddSubCategory')[0].reset();
                            $('#modal_add_subcategory').modal('hide');
                            //Draw table
                            table.fnDraw();
                        } else {
                            toastr.error(data.message, 'Error');
                            return false;
                        }
                    });
                }
                });
            
        });

</script>