<link href="assets/lib/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css"  />
<link href="assets/global/plugins/fancybox/source/jquery.fancybox.css"/>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:void(0);">Job</a>
           <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="javascript:void(0);">Job Details</a>
        </li>
    </ul>
</div>

<!--Start User Information -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light bordered dash-major-Details margin-top-20" ng-class="{'portlet light bordered openstatus':jobdetails.job_class == 1,'portlet light bordered inprocess': jobdetails.job_class == 3,'portlet light bordered completed':jobdetails.job_class == 4,'portlet light bordered cancelled': jobdetails.job_class == 7,'portlet light bordered paused': jobdetails.job_class == 5 }">
            <div class="portlet-title" ng-class="{'openstatus':jobdetails.job_class == 1,'inprocess': jobdetails.job_class == 3,'completed':jobdetails.job_class == 4,'cancelled': jobdetails.job_class == 7,'paused': jobdetails.job_class == 5 }">
               <div class="caption">
                    <span class="caption-subject font-green bold uppercase">job Details</span>
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form class="form-horizontal  member-details-form" role="form">
                            <div class="form-body">

                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Job Id :</label>
                                            <div class="col-md-8">
                                                <p class="form-control-static"> [[ jobdetails.job_id ]] </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Category :</label>
                                            <div class="col-md-8">
                                                <p class="form-control-static"> [[ jobdetails.category_name ]] </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">Job Title :</label>
                                            <div class="col-md-8">
                                                <p class="form-control-static">  [[ jobdetails.job_title ]]  </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-sm-12 ">
                                        <div class="form-group">
                                            <label class="control-label col-md-2">Job Details :</label>
                                            <div class="col-md-10">
                                                <p class="form-control-static"> [[ jobdetails.job_details ]] </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Consignment size :</label>
                                            <div class="col-md-8">
                                                <p class="form-control-static"> [[ jobdetails.consignment_size ]] </p>
                                            </div>
                                        </div>
                                    </div>

                                    <!--/span-->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Sub Category :</label>
                                            <div class="col-md-8">
                                                <p class="form-control-static"> [[ jobdetails.sub_category ]] </p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!--/span-->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Agent Fee :</label>
                                            <div class="col-md-8">
                                                <p class="form-control-static"> [[ jobdetails.agent_commision ]] HK$</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!--/span-->

                                    <div class=" col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Job Status :</label>
                                            <div class="col-md-8">
                                                <button class="btn btn-sm btn-info  filter-submit margin-bottom" ng-if="[[ jobdetails.job_class ]]  == 1"><i class="fa fa-external-link"></i> Open</button>
                                                <button class="btn btn-sm btn-primary  filter-submit margin-bottom" ng-if="[[ jobdetails.job_class ]]  == 3"> <i class="fa fa-cog"></i> In Process</button>
                                                <button class="btn btn-sm yellow  filter-submit margin-bottom" ng-if="[[ jobdetails.job_class ]]  == 5"> <i class="icon-pause"></i> Pause</button>
                                                <button class="btn btn-sm btn-success filter-submit margin-bottom"  ng-if="[[ jobdetails.job_class ]]  == 4"> <i class="icon-check"></i> Complete</button>
                                                <button class="btn btn-sm btn-danger filter-submit margin-bottom"  ng-if="[[ jobdetails.job_class ]]  == 7"> <i class="fa fa-close"></i> Cancelled</button>
                                            
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Posted On :</label>
                                            <div class="col-md-8">
                                                <p class="form-control-static"> [[ jobdetails.job_start_on ]] </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->


                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4" ng-show="jobdetails.main_status != 4">Completion Date & Time :</label>
                                             <label class="control-label col-md-4" ng-show="jobdetails.main_status == 4">Completed On :</label>
                                            <div class="col-md-8">
                                                <p class="form-control-static"> [[ jobdetails.job_end_on ]] </p>
                                            </div>
                                        </div>
                                    </div>
                                    
<!--
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Completion Date & Time :</label>
                                            <div class="col-md-8">
                                                <p class="form-control-static"> [[ jobdetails.job_end_on ]] </p>
                                            </div>
                                        </div>
                                    </div>
-->
                                    <!--/span-->

                                    <div class="col-sm-6">
                                        <div class="form-group"> 
                                            <label class="control-label col-md-4">Requester :</label>
                                            <div class="col-md-8">
                                                <p class="form-control-static"> [[ jobdetails.questionar ]] </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Agent :</label>
                                            <div class="col-md-8">
                                                <p class="form-control-static"> N / A </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Applied By :</label>
                                            <div class="col-md-8">
                                                <p class="form-control-static">[[ jobdetails.applicant ]]</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                           </div>    
                        </form>
                        <!-- END FORM-->
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix" ></div>
<!------ DISPUTE HISTORY IS TEMPORARY HIDDEN DUE TO MISUNDERSTANDING OF FUNCTIONALITY ----->

<div class="row" ng-if="[[jobdetails.is_dispute]] == 1">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light bordered dash-major-Details margin-top-20">
            <div class="portlet-title">
                <div class="caption">
                   <span class="caption-subject font-green bold uppercase">Dispute History</span>
                   <input type="hidden" name="torequester_id" id="torequester_id" value="[[ jobdetails.questionar_id ]]">
                   <input type="hidden" name="re_name" id="re_name" value="[[ jobdetails.questionar ]]">
                   <input type="hidden" name="toagent_id" id="toagent_id" value="[[ jobdetails.agent_id ]]">
                   <input type="hidden" name="ag_name" id="ag_name" value="[[ jobdetails.agent_name ]]">
                   <input type="hidden" name="fromuser_id" id="fromuser_id" value="[[ admindetails.id ]]">
                   <input type="hidden" name="job_id" id="job_id" value="[[jobdetails.job_id ]]">
                   <input type="hidden" name="thread_id" id="thread_id" value="[[global_thread_id]]">
                </div>
                <div class="actions">
                    <button class="btn btn-sm btn-danger btn-block filter-submit margin-bottom" ng-click="updatedispute()">Resume Job</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="portlet-body  chat-panle">
                        <div class="panel panel-default">
                            <div class="panel-heading" ng-click="getchatbox()">
                                <h4 class="panel-title">
                                    <input type="hidden" id="clickcount" value="0">
                                    <a class="accordion-toggle"  data-toggle="collapse" data-parent="#accordion2" href="javascript:;" data-target="#collapse_2_1" aria-expanded="true" >
                                        <span>Agent Paused the Job</span><span class="pull-right date" ><span class="arrow-angle" ><i class="fa fa-angle-down"></i>  </span></span> </a>
                                </h4>
                            </div>
                            <div id="collapse_2_1" class="panel-collapse collapse" aria-expanded="true">
                                <div class="panel-body">
                                    <div class="slimScrollDiv chat-scroll" style="position: relative; overflow: hidden; width: auto; height: 525px;">
                                        <div class="scroller" style="height: 525px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                                            <div id="chat-Scroll-bar">
                                            <ul class="chats">
                                                <li class="[[chat_his.user_type != '3' ? 'in': 'out' ]]" ng-repeat="chat_his in chat_history1 |  orderBy : '-message_id' : true "    class="chatuser" data-bind="[[ chat_his.message_id]]">
                                                    <!-- <img  class="avatar" alt="" src="[[ chat_his.profile_pic ]]" >-->
                                                    <img ng-if="chat_his.user_type == '3'" class="avatar" alt="" src="[[ admindetails.profile_image ]]" >
                                                    <img ng-if="chat_his.user_type == '2'" class="avatar" alt="" src="[[ jobdetails.profile_image_agent ]]" >
                                                    <img ng-if="chat_his.user_type == '1'" class="avatar" alt="" src="[[ jobdetails.profile_pic_requester ]]" >
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name" ng-if="chat_his.user_type == '3'" > [[ admindetails.name ]] </a>
                                                        <a href="javascript:;" class="name" ng-if="chat_his.user_type == '2'" > [[ jobdetails.agent_name ]] </a>
                                                        <a href="javascript:;" class="name" ng-if="chat_his.user_type == '1'" > [[ jobdetails.questionar ]] </a>
                                                        <p ng-if="chat_his.chat_type == '1'">
                                                            <img src="[[ chat_his.image_url ]]" width="250px" height="250px">
                                                        </p>
                                                        <span class="body"> [[ chat_his.text ]] </span>
                                                        <span class="datetime"> at [[ chat_his.created_date ]] </span>
                                                    </div>
                                                </li>
                                              </ul>
                                        </div>
                                </div>
                            </div>
                        </div> 
                    <div class="msg-text-box">
                    <textarea class="" id="messagestext" onKeyPress="return isNumberKey(event);"></textarea>
                    <button class="btn btn-skew btn-red" id="sendmessageid" ng-click="sendmessage(global_thread_id, global_from_user)"><span>Send</span></button>
                    <div class="clearfix"></div>
                    </div>
                   
                  </div>
                </div>
            </div>
<!--            <div class="row">
                <div class="col-sm-12">
                    <div class="portlet-body  chat-panle">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2_2" aria-expanded="true"> <span >Questioner Paused the Job</span><span class="pull-right date"> 23/Aug/16 15:16:17 <span class="arrow-angle"><i class="fa fa-angle-down"></i>  </span></span> </a>
                                </h4>
                            </div>
                            <div id="collapse_2_2" class="panel-collapse collapse " aria-expanded="true">
                                <div class="panel-body">
                                    <div class="slimScrollDiv chat-scroll" style="position: relative; overflow: hidden; width: auto; height: 525px;"><div class="scroller" style="height: 525px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="1" data-initialized="1">
                                            <ul class="chats">
                                                <li class="out">
                                                    <img class="avatar" alt="" src="assets/layouts/layout/img/avatar2.jpg">
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name"> Lisa Wong </a>
                                                        <span class="body"> Lorem ipsum dolor sit alaoreet dolore magna aliquam erat volutpat. </span>
                                                        <span class="datetime"> at 20:11 </span>
                                                    </div>
                                                </li>
                                                <li class="out">
                                                    <img class="avatar" alt="" src="assets/layouts/layout/img/avatar2.jpg">
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name"> Lisa Wong </a>
                                                        <span class="body"> Lorem idunt ut laoreet dolore magna aliquam erat volutpat. </span>
                                                        <span class="datetime"> at 20:11 </span>
                                                    </div>
                                                </li>
                                                <li class="in">
                                                    <img class="avatar" alt="" src="assets/layouts/layout/img/avatar8.jpg">
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name"> Bob Nilson </a>

                                                        <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, </span>
                                                        <span class="datetime"> at 20:30 </span>
                                                    </div>
                                                </li>
                                                <li class="in">
                                                    <img class="avatar" alt="" src="assets/layouts/layout/img/avatar1.jpg">
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name"> Bob Nilson </a>

                                                        <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt  </span>
                                                        <span class="datetime"> at 20:30 </span>
                                                    </div>
                                                </li>
                                                <li class="out">
                                                    <img class="avatar" alt="" src="assets/layouts/layout/img/avatar3.jpg">
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name"> Richard Doe </a>
                                                        <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                                                        <span class="datetime"> at 20:33 </span>
                                                    </div>
                                                </li>
                                                <li class="in">
                                                    <img class="avatar" alt="" src="assets/layouts/layout/img/avatar3.jpg">
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name"> Richard Doe </a>

                                                        <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                                                        <span class="datetime"> at 20:33 </span>
                                                    </div>
                                                </li>
                                                <li class="out">
                                                    <img class="avatar" alt="" src="assets/layouts/layout/img/avatar1.jpg">
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name"> Bob Nilson </a>

                                                        <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                                                        <span class="datetime"> at 20:40 </span>
                                                    </div>
                                                </li>
                                                <li class="in">
                                                    <img class="avatar" alt="" src="assets/layouts/layout/img/avatar3.jpg">
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name"> Richard Doe </a>

                                                        <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </span>
                                                        <span class="datetime"> at 20:40 </span>
                                                    </div>
                                                </li>
                                                <li class="out">
                                                    <img class="avatar" alt="" src="assets/layouts/layout/img/avatar1.jpg">
                                                    <div class="message">
                                                        <span class="arrow"> </span>
                                                        <a href="javascript:;" class="name"> Bob Nilson </a>

                                                        <span class="body"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. sed diam nonummy nibh euismod tincidunt ut laoreet.
                                                        </span>
                                                        <span class="datetime"> at 20:54 </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div><div class="slimScrollBar" style="background: rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 311.089px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                                </div>
                            </div>
                        </div>                                            
                     </div>
                </div>
            </div>
        </div>
-->    </div>
</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light bordered dash-major-Details margin-top-20">

            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">Media</span>
                </div>
                <div class="actions">
                </div>
            </div>
            
            <div class="row" ng-show="jobdetails.images">
                <div class="col-sm-12">
                    <div class="portlet-body ">
                        <div id="owl-demo">
                            <div class="item" ng-repeat="img in jobdetails.images"><a class="fancybox-thumb1"  href="javascript:;" ng-click="openLightboxModals(img, $index)" rel="fancybox-thumb" data-fancybox-group='gallery'><img src="[[img]]" alt="Owl Image"></a></div>
                        </div>
                </div>
            </div>
        </div>
        <div ng-show="!jobdetails.images.length">
                   <p style="text-align: center;"><b>No media available for this job.</b></p>
       </div>
    </div>
</div>
</div><!--
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="display: none;">Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade mediafile" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-picture-o"></i><span> Jobs media </span></h4>
      </div>
      <div class="modal-body text-center">
          <a href="javascript:;" class="btn btn-info" ng-click="getPreviousImages()"><i class="fa fa-angle-left"></i></a>
          
        <img  ng-src="[[ images_popups ]]"  id="fadout_image" class="img-responsive" >
          <a href="javascript:;" class="btn btn-info" ng-click="getNextImages()"><i class="fa fa-angle-right"></i></a>
      </div>
      <div class="modal-footer">
          
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script src="assets/lib/owl-carousel/owl.carousel.js" type="text/javascript"></script>
<script type="text/javascript">
                
        $(document).ready(function() {
            setTimeout(function () {
                        owlfun()
                  }, 500);
                function owlfun(){
                        
                                    $("#owl-demo").owlCarousel({

                                                       autoPlay: 3000, //Set AutoPlay to 3 seconds
                                                        items : 4,
                                                       itemsDesktop : [1199,3],
                                                       itemsDesktopSmall : [979,3]
                                    });

                                     $('.carousel .item').each(function(){
                                       var next = $(this).next();
                                       if (!next.length) {
                                             next = $(this).siblings(':first');
                                       }
                                       next.children(':first-child').clone().appendTo($(this));

                                       for (var i=0;i<2;i++) {
                                             next=next.next();
                                             if (!next.length) {
                                                     next = $(this).siblings(':first');
                                             }

                                             next.children(':first-child').clone().appendTo($(this));
                                       }
                                     }); 
                } 
                $(".accordion-toggle").click(function(e) {
                    e.preventDefault();
                    $('.accordion-toggle').collapse();
                });
              
                  
        });            
</script>
