<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:void(0);">Jobs</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="javascript:void(0);">Job Listing</a>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<!-- BEGIN DASHBOARD STATS 1-->
<div class="row margin-top-20">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green sbold uppercase"> <i class="fa fa-briefcase"></i> Job Listing (Dispute Job : [[countdispute]]) </span>
                </div>
                <div class="actions xs-filter">
                    <div class="btn-group">
                        <div class="table-group-actions pull-right ">
                            <select class="table-group-action-input input-sm form-control input-small input-inline " id="jobs_status">
                                <option value="0" selected>All Status</option>
                                <option value="1">Open</option>
                                <option value="3">In Process</option>
                                <option value="5">Paused</option>
                                <option value="4">Complete</option>
                                <option value="7">Cancelled</option>
                            </select>
                        </div>
                    </div>
                    <div class="btn-group">
                        <div class="table-group-actions pull-right ">
                            <select class="table-group-action-input input-sm form-control input-small input-inline " id="jobs_categories">
                                <option value="0" selected>All</option>
                                <option ng-repeat="rows in jobs_categories" value="[[ rows.category_id ]]">[[ rows.category_name ]]</option>
                            </select>
                        </div>
                    </div>
                    <!--
                                                                    <a href="javascript:;" class="btn btn-green">
                                                                    <i class="fa fa-filter"></i>
                                                                    <span > Fillter </span>
                                                                </a>
                    -->
                    <a href="javascript:;" class="btn btn-default " id="jobs_reset">
                        <i class="fa fa-refresh"></i>
                        <span> Reset </span>
                    </a>
                </div>

            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <div id="datatable_orders_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="table-group-actions  meamber-search">
                                    <div class="input-icon">
                                        <i class="fa fa-search font-green"></i>
                                        <input type="text" class="form-control input-large " id="search_jobs" placeholder="Search By Job Title"> </div>
                                    <!--
                                                                                        <button class="btn btn-green table-group-action-submit">
                                                                                          Search
                                                                                        </button>
                                    -->
                                </div>    
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <div class="table-group-actions pull-right ">

                                    <span></span>
                                    <label class="table-group-action-input input-inline" style="margin-bottom:0px;">Export to:</label>
                                    <select class="table-group-action-input form-control input-small input-inline " id="export_from">
                                        <option value="1" selected>Excel</option>
                                        <option value="2">Pdf</option>
                                    </select>
                                    <button class="btn btn-green inline" id="download_files"><i class="fa fa-download"></i></button>
                                </div>
                            </div>
                        </div>

                        <div class="table-scrollable margin-top-20">
                            <table class="table table-striped table-bordered table-hover table-checkable dataTable no-footer" id="datatable_orders" aria-describedby="datatable_orders_info" role="grid">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th width="5%" class="sorting" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" > Job# </th>
                                        <th width="20%"  tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" >Job Title</th>
                                        <th width="10%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" > Category</th>
                                        <th width="20%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" > Start Date </th>
                                        <th width="10%" class="sorting" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1">Budget </th>
                                        <th width="10%"  tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" > Status </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>
<!-- END CONTENT BODY -->

<script src='assets/lib/datatables/datatable.min.js'></script>
<script src='assets/lib/datatables/plugins/bootstrap/datatables.bootstrap.js'></script>
<script>
                                    $(document).ready(function() {

                                        $(document).on('click', '#download_files', function() {

                                            var export_var = $("#export_from").val();

                                            var jobs_status = $("#jobs_status").val();
                                            var jobs_categories = $("#jobs_categories").val();


                                            if (export_var == 1) {
                                                window.location.href = base_url + 'jobs/generatecsv/' + jobs_categories + '/' + jobs_status;
                                            }
                                            if (export_var == 2) {
                                                window.location.href = base_url + 'jobs/generatepdf/' + jobs_categories + '/' + jobs_status;
                                            }

                                        });

                                        var table = $('#datatable_orders');

                                        // begin first table
                                        var userList_table = $('#datatable_orders').dataTable({
                                            // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                                            "processing": false,
                                            "serverSide": true,
                                            "ajax": {
                                                'type': 'POST',
                                                'url': base_url + "jobs/alljobs",
                                                'data': function(params) {
                                                    params.jobs_categories = $("#jobs_categories").val();
                                                    params.jobs_status = $("#jobs_status").val();
                                                }

                                            },
                                            "language": {
                                                "aria": {
                                                    "sortAscending": ": activate to sort column ascending",
                                                    "sortDescending": ": activate to sort column descending"
                                                },
                                                "emptyTable": "No record (s) available.",
                                                "info": "Found _START_ to _END_ of _TOTAL_ records",
                                                "infoEmpty": "No records found",
                                                "infoFiltered": "(filtered1 from _MAX_ total records)",
                                                "lengthMenu": "View _MENU_ records",
                                                "search": "Search:",
                                                "zeroRecords": "No matching records found",
                                                "paginate": {
                                                    "previous": "Prev",
                                                    "next": "Next",
                                                    "last": "Last",
                                                    "first": "First"
                                                },
                                               
                                            },
                                             "fnRowCallback": function (nRow, aData, iDisplayIndex)
                                                { // Apply Background color if is_read is 0 means unread
                                                   
                                                    if (aData["is_dispute"] == 1)
                                                    {
                                                        $('td', nRow).parents('tr:first').css('background-color', 'lightblue');
                                                    }

                                                },
                                            "dom": "<'row'<'col-md-6 col-sm-12'><'col-md-6 col-sm-12'>r>t<'row'<'col-md-3 col-sm-12'l><'col-md-4 col-sm-12'i><'col-md-5 col-sm-12 text-right'p>>",
                                            "bStateSave": false, // save datatable state(pagination, sort, etc) in cookie.
                                            "columns": [
                                                {"data": "job_id", "name": "job_id", "searchable": true},
                                                {"data": "job_title", "name": "job_title", "searchable": true},
                                                {"data": "category_name", "name": "category_name"},
                                                {"data": "job_start_on", "name": "job_start_on"},
                                                {"data": "consinment_size", "name": "consinment_size"},
                                                {"data": "job_status", "name": "job_status", "render": function(data, type, row) {
                                                        
                                                        if (data == 1) { // Created
                                                            $(".label-created").parent();
                                                            return '<button class="btn btn-sm btn-info btn-block filter-submit margin-bottom" style="cusrsor: pointer;"> <i class="fa fa-external-link"></i> Open</button>';
                                                        } else if (data == 3) { // In Processing
                                                            $(".label-inreview").parent();
                                                            return '<button class="btn btn-sm btn-primary btn-block filter-submit margin-bottom"> <i class="fa fa-cog"></i> In Process</button>';
                                                        } else if (data == 5) { // Shipped
                                                            $(".label-active").parent();
                                                            return '<button class="btn btn-sm yellow btn-block filter-submit margin-bottom"> <i class="icon-pause"></i> Pause</button>';
                                                        } else if (data == 4) { // Received
                                                            $(".label-expired").parent();
                                                            return '<button class="btn btn-sm btn-success btn-block filter-submit margin-bottom"> <i class="icon-check"></i> Complete</button>';
                                                        } else if (data == 7) { // Cancled
                                                            $(".label-cancelled").parent();
                                                            return '<button class="btn btn-sm btn-danger btn-block filter-submit margin-bottom"> <i class="fa fa-close"></i> Cancelled</button>';
                                                        }
                                                    }},
                                            ],
                                            
                                            ordering: true,
                                            "lengthMenu": [
                                                [10, 30, 50, -1],
                                                [10, 30, 50, "All"] // change per page values here
                                            ],
                                            // set the initial value
                                            "pageLength": 10,
                                            "pagingType": "bootstrap_full_number"
                                        });

                                        var oTable = $('#datatable_orders').DataTable();

                                        $("#jobs_categories").change(function() {
                                            oTable.search($(this).val()).draw();
                                        });

                                        $("#jobs_status").change(function() {
                                            oTable.search($(this).val()).draw();
                                        });

                                        $(document).on('click', "#jobs_reset", function(e) {
                                            e.preventDefault();
                                            $("#jobs_categories").val('0');
                                            $("#jobs_status").val('0');
                                            $("#search_jobs").val(' ');
                                            oTable.search( $(this).val() ).draw();

                                        });


                                        // for searching from front user table.
                                        $('#search_jobs').keyup(function() {
                                            oTable.search($(this).val()).draw();
                                        });
                                    });
</script>