<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:void(0);">Manage</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="javascript:void(0);">Promo Code</a>            
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<!-- Start Category Listing-->
<div class="row margin-top-20">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject sbold uppercase"> Promo Code Listing </span>
                </div>
                <div class="actions">
                    <a href="javascript:;" class="btn btn-green add_promocode"><i class="fa fa-plus" aria-hidden="true"></i> Add Promocode</a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <div id="datatable_orders_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                        <div class="table-scrollable margin-top-20">
                            <table class="table table-striped table-bordered table-hover table-checkable dataTable no-footer" id="PromocodeTable" aria-describedby="datatable_orders_info" role="grid">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th width="5%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" > ID#</th>
                                        <th width="10%"  tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" >Promo Code</th>
                                        <th width="10%"  tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" >Reward</th>
                                        <th width="15%"  tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" >Start Date</th>
                                        <th width="15%"  tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" >Expiry Date</th>
                                        <th width="10%"  tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" >Frequency</th>
                                        <th width="10%"  tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" >Promo Code Used</th>
                                        <th width="10%"  tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" >Users</th>
                                        <th width="10%"  tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" >Rewards Utilized</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>
<!-- End Category Listing-->
<!-- Referral Promo Code-->
<div class="row">
    <div class="col-sm-12">
        <div class="portlet light bordered weekly-reward">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject sbold uppercase">Referral Amount</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal" method="post" id="ReferralAmountForm" name="ReferralAmountForm">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Set Referral Amount:</label>
                            <div class="col-md-8">
                                <input type="hidden" name="setting_id" id="referral_amount_id" ng-model="referral_amount_id">
                                <input type="text" class="form-control" name="setting_value" ng-model="referral_amount" placeholder="Referral Amout">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-md-8">
                                <span><input type="checkbox" id="disable_checkbox" ng-checked="referral_amount_status" ng-model="referral_amount_status" name="setting_status" value="1"></span>
                                <span>Disable referral code</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-7">
                                <button type="submit" class="btn btn-green"><i class="fa fa-refresh"></i> Update</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
<!-- Referral Code-->
<!-- Start Referral Listing-->
<div class="row margin-top-20">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject sbold uppercase"> Referral code history </span>
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <div id="datatable_orders_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                        <div class="table-scrollable margin-top-20">
                            <table class="table table-striped table-bordered table-hover table-checkable dataTable no-footer" id="ReferralHistoryTable" aria-describedby="datatable_orders_info" role="grid">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" > Id# </th>
                                        <th tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" >Used  by</th>
                                        <th tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" > Refered by </th>
                                        <th tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" > Code Referred </th>
                                        <th tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" > Amount </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>
<!--- modal for users information ---->

<div id="add_promocode_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-plus"></i><span class="caption-subject sbold uppercase">Add Promo Code</span></h4>
      </div>
          <div class="modal-body form">
              
              <form action="#" class="form-horizontal" method="post" id="AddPromoCodeForm">
                    <div class="form-body">                       
                        <div class="form-group">
                            <label class="col-md-3 control-label">Promo Code:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="code" placeholder="Promo Code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Reward:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="reward" placeholder="Reward">
                            </div>
                        </div>
                      <div class="form-group">
                           <label class="col-md-3 control-label">Start Date:</label>
                           <div class="col-md-8">
                               <div class='input-group date' id='start_date'>
                                   <input type='text' class="form-control" name="start_date" onclick="$('.start_date').click();" placeholder="Start Date"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar start_date"></span>
                                    </span>
                                </div>
                           </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Expiry Date:</label>
                            <div class="col-md-8">
                               <div class="input-group date" id="expire_date">
                                   <input type="text" class="form-control" name="end_date" onclick="$('.end_date').click();" placeholder="Expire date"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar end_date"></span>
                                    </span>
                                </div>
                           </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Frequency:</label>
                            <div class="col-md-8">
                                <div class="mt-radio-inline">
                                    <label class="mt-radio">
                                        <input type="radio" name="promo_status" class="frequency" value="1" checked=""> Single
                                        <span></span>
                                    </label>
                                    <label class="mt-radio">
                                        <input type="radio" name="promo_status" id="frequency_multiple" class="frequency" value="2"> Multiple
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                       <div class="form-group show_limit" style="display: none">
                            <label class="col-md-3 control-label">Limit:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" name="usage_limit" placeholder="Limit">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions form-actions-promo">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-7">
                                <button type="submit" class="btn btn-green"><i class="fa fa-save"></i> Save </button>
                                <a href="javascript:;" class="btn btn-default" onclick="$('#AddPromoCodeForm')[0].reset();"  data-dismiss="modal"><i class="fa fa-close"></i> Close </a>
                            </div>
                        </div>
                    </div>
                
          </div>
<!--
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
-->
              </form>
    </div>
  </div>
</div>

<!--- end modal ---------------------->


<script>
$(document).ready(function(){
    
    $('#start_date').datetimepicker();
    $('#expire_date').datetimepicker({
        useCurrent: false //Important! See issue #1075
    });
    $("#start_date").on("dp.change", function (e) {
        $('#expire_date').data("DateTimePicker").minDate(e.date);
    });
    $("#expire_date").on("dp.change", function (e) {
        $('#start_date').data("DateTimePicker").maxDate(e.date);
    });
    
    //Show hide limit div
    $('.frequency').click(function(){
       var Val = $(this).val();
       if(Val == 2){
            $('.show_limit').show();
       }else{
            $('.show_limit').hide();
       }
    });
    
     // Job category based jobs datatables.
        $(document).on('click', '.add_promocode', function(){
           
            $("#add_promocode_modal").modal('show');
        });
    
        function clearValidation(formElement){
             //Internal $.validator is exposed through $(form).validate()
             var validator = $(formElement).validate();
             //Iterate through named elements inside of the form, and mark them as error free
             $('[name]',formElement).each(function(){
               validator.successList.push(this);//mark as error free
               validator.showErrors();//remove error messages if present
             });
             validator.resetForm();//remove error class on name elements and clear history
             validator.reset();//remove all error and success data
        }
    
       
      
    
        //Promocode datatable code start
        var table = $('#PromocodeTable');
    
      clearValidation(table);
            //Add promocode.
            var AddPromoCodeForm = $('#AddPromoCodeForm');
            var error2 = $('.alert-danger', AddPromoCodeForm);
            var success2 = $('.alert-success', AddPromoCodeForm);
            $.validator.addMethod("money",function (value, element) {
             var isValidMoney = /^\d{0,4}(\.\d{0,2})?$/.test(value);
             return this.optional(element) || isValidMoney;
         },"Please enter reward in 00.00 formate");
            $.validator.addMethod("alphanumeric", function (value, element) {
            return this.optional(element) || /^[a-zA-Z0-9 -]+$/.test(value);
        });
    
        AddPromoCodeForm.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            rules: {
                code: {
                    minlength: 4,                    
                    required: true,
                    alphanumeric : true,
                    remote:{
                        url:'settings/ispromocodeexist',
                        type: "post" 
                    }
                },
                reward:{
                    maxlength: 4,
                    required: true,
                    money: true
                },
                start_date:{
                    required: true
                },
                end_date:{
                    required: true
                },
                usage_limit:{
                    required: {
                        depends : function(){
                            if ($("#frequency_multiple").is(":checked")){     
                                return true;
                            }
                            else {
                                return false;
                            }
                        }
                    },
                    number: true
                }
            },
            messages: {
                code: {
                    required: "Promo Code is required.",
                    remote : "Promo Code is already in use.",
                    alphanumeric: "Only letters and numbers are allowed."
                },
                reward: {
                    required: "Reward is required."
                },
                start_date: {
                    required: "Start date is required."
                },
                end_date: {
                    required: "Expire date is required."
                },
                usage_limit:{
                    required: "Limit is required."
                }
            },
            invalidHandler: function(event, validator) { //display error alert on form submit              
                success2.hide();
                error2.show();
                //App.scrollTo(error2, -200);
            },
            errorPlacement: function (from, error) { // render error placement for each input type
                error.parent(".input-group").size() > 0 ? from.insertAfter(error.parent(".input-group")) : error.attr("data-error-container") ? from.appendTo(error.attr("data-error-container")) : error.parents(".radio-list").size() > 0 ? from.appendTo(error.parents(".radio-list").attr("data-error-container")) : error.parents(".radio-inline").size() > 0 ? from.appendTo(error.parents(".radio-inline").attr("data-error-container")) : error.parents(".checkbox-list").size() > 0 ? from.appendTo(error.parents(".checkbox-list").attr("data-error-container")) : error.parents(".checkbox-inline").size() > 0 ? from.appendTo(error.parents(".checkbox-inline").attr("data-error-container")) : from.insertAfter(error)
            },
            highlight: function(element) { // hightlight error inputs
                $(element).closest('.form-group > div').removeClass("has-success").addClass('has-error'); // set error class to the control group   
            },
            submitHandler: function(form) {
                success2.show();
                error2.hide();
                //Submit data with ajax
                var formData = new FormData($("#AddPromoCodeForm")[0]);
                $.ajax({
                    type: "POST",
                    url: 'settings/addpromocode',
                    contentType: false,
                    processData: false,
                    data: formData,
               }).done(function(data){
                    if(data.success){
                        toastr.success(data.message, 'Success');
                        //Clean add promocode form
                        $('#AddPromoCodeForm')[0].reset();
                         $("#add_promocode_modal").modal('hide');
                        table.fnDraw();
                    }else{
                        toastr.error(data.message, 'Error');
                        return false;
                    }
              });
            //submit data with ajax end
            }
        });
    //Add promocode end
    
   
    // begin first table
    table.dataTable({
        "processing": false,
        "serverSide": true,
        "ajax": "settings/promocodelist",
        "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No record (s) available.",
                "info": "Found _START_ to _END_ of _TOTAL_ records",
                "infoEmpty": "No records found",
                "infoFiltered": "(filtered1 from _MAX_ total records)",
                "lengthMenu": "View _MENU_ records",
                "search": "Search:",
                "zeroRecords": "No matching records found",
                "paginate": {
                    "previous":"Prev",
                    "next": "Next",
                    "last": "Last",
                    "first": "First"
                }
        },    
        "dom": "<'row'<'col-md-6 col-sm-12'><'col-md-6 col-sm-12'>r>t<'row'<'col-md-3 col-sm-12'l><'col-md-4 col-sm-12'i><'col-md-5 col-sm-12 text-right'p>>",
        "bStateSave": false, // save datatable state(pagination, sort, etc) in cookie.
        "columns": [
            {"data": "promo_code_id","name":"promo_code_id","width":"5%" , "orderable": false, "searchable": false},		                         	     
            {"data": "code","name":"code","width":"5%" , "orderable": false, "searchable": false},
            {"data": "reward","name":"reward","width":"5%" , "orderable": false, "searchable": false},
            {"data": "start_date","name":"start_date","width":"15%" , "orderable": false, "searchable": false},
            {"data": "end_date","name":"end_date","width":"15%" , "orderable": false, "searchable": false},
            {"data": "promo_status","name":"promo_status","width":"5%" , "orderable": false, "searchable": false},
            {"data": "usage_limit","name":"usage_limit","width":"5%" , "orderable": false, "searchable": false},
            {"data": "total_usage","name":"total_usage","width":"5%" , "orderable": false, "searchable": false},
            {"data": "rewards_utilized","name":"rewards_utilized","width":"5%" , "orderable": false, "searchable": false}
        ],    
        ordering: false,
        "lengthMenu": [
            [10, 30, 50, -1],
            [10, 30, 50, "All"] // change per page values here
        ],
        // set the initial value
        "pageLength": 10,            
        "pagingType": "bootstrap_full_number"
    });
    //Promocode datatable code end
    
    //Update referral amount
    var ReferralAmountForm = $('#ReferralAmountForm');
        var error2 = $('.alert-danger', ReferralAmountForm);
        var success2 = $('.alert-success', ReferralAmountForm);
        $.validator.addMethod("money",function (value, element) {
		 var isValidMoney = /^\d{0,4}(\.\d{0,2})?$/.test(value);
		 return this.optional(element) || isValidMoney;
	 },"Please enter amount in 00.00 formate");
        ReferralAmountForm.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            rules: {
                setting_value: {
                    maxlength: 5,
                    required: true,
                    money: true
                }
            },
            messages: {
                setting_value: {
                    required: "Referral amount required."
                }
            },
            invalidHandler: function(event, validator) { //display error alert on form submit              
                success2.hide();
                error2.show();
                //App.scrollTo(error2, -200);
            },
            errorPlacement: function (from, error) { // render error placement for each input type
                error.parent(".input-group").size() > 0 ? from.insertAfter(error.parent(".input-group")) : error.attr("data-error-container") ? from.appendTo(error.attr("data-error-container")) : error.parents(".radio-list").size() > 0 ? from.appendTo(error.parents(".radio-list").attr("data-error-container")) : error.parents(".radio-inline").size() > 0 ? from.appendTo(error.parents(".radio-inline").attr("data-error-container")) : error.parents(".checkbox-list").size() > 0 ? from.appendTo(error.parents(".checkbox-list").attr("data-error-container")) : error.parents(".checkbox-inline").size() > 0 ? from.appendTo(error.parents(".checkbox-inline").attr("data-error-container")) : from.insertAfter(error)
            },
            highlight: function(element) { // hightlight error inputs
                $(element).closest('.form-group > div').removeClass("has-success").addClass('has-error'); // set error class to the control group   
            },
            submitHandler: function(form) {
                success2.show();
                error2.hide();
                //Submit data with ajax
                var formData = new FormData($("#ReferralAmountForm")[0]);
                $.ajax({
                    type: "POST",
                    url: 'settings/updatereferralamount',
                    contentType: false,
                    processData: false,
                    data: formData,
               }).done(function(data){
                    if(data.success){
                        toastr.success(data.message, 'Success');
                    }else{
                        toastr.error(data.message, 'Error');
                        return false;
                    }
              });
            //submit data with ajax end
            }
        });
    //Add promocode end
    
    //Referral code history datatable code start
    var ReferralHistoryTable = $('#ReferralHistoryTable');
    // begin first table
    ReferralHistoryTable.dataTable({
        "processing": false,
        "serverSide": true,
        "ajax": "settings/referralcodehistory",
        "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No record (s) available.",
                "info": "Found _START_ to _END_ of _TOTAL_ records",
                "infoEmpty": "No records found",
                "infoFiltered": "(filtered1 from _MAX_ total records)",
                "lengthMenu": "View _MENU_ records",
                "search": "Search:",
                "zeroRecords": "No matching records found",
                "paginate": {
                    "previous":"Prev",
                    "next": "Next",
                    "last": "Last",
                    "first": "First"
                }
        },    
        "dom": "<'row'<'col-md-6 col-sm-12'><'col-md-6 col-sm-12'>r>t<'row'<'col-md-3 col-sm-12'l><'col-md-4 col-sm-12'i><'col-md-5 col-sm-12 text-right'p>>",
        "bStateSave": false, // save datatable state(pagination, sort, etc) in cookie.
        "columns": [
            {"data": "id","name":"id","width":"5%","orderable": false, "searchable": false},		                         	     
            {"data": "used_by","name":"used_by","width":"15%" , "orderable": false, "searchable": false},
            {"data": "refered_by","name":"refered_by","width":"15%" , "orderable": false, "searchable": false},
            {"data": "code_referred","name":"code_referred","width":"5%" , "orderable": false, "searchable": false},
            {"data": "referral_amount","name":"referral_amount","width":"5%" , "orderable": false, "searchable": false}
        ],    
        ordering: false,
        "lengthMenu": [
            [10, 30, 50, -1],
            [10, 30, 50, "All"] // change per page values here
        ],
        // set the initial value
        "pageLength": 10,            
        "pagingType": "bootstrap_full_number"
    });
    //Promocode datatable code end
    
});

</script>