<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:void(0);">Manage</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="javascript:void(0);">Push Notification</a>            
        </li>

    </ul>

</div>
<div class="row margin-top-20">
    <div class="col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green sbold uppercase">Publish New Notification</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class=" control-label col-sm-2">Notification :</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" style="resize:vertical"></textarea>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" control-label col-sm-2">Send To:</label>
                            <div class="col-sm-8">
                                <select class="form-control">
                                    <option>All</option>
                                    <option>Requester</option>
                                    <option>Agent</option>
                                    <option>Selected User</option>
                                </select>
                            </div>
                        </div>
                       
<!--
                        <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                                <div class="table-container">
                                    <div id="datatable_orders_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover table-checkable dataTable no-footer staff-detail-tbl " id="datatable_orders" aria-describedby="datatable_orders_info" role="grid">
                                                <thead>
                                                    <tr role="row" class="heading">
                                                        <th width="15%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-label=" Order&amp;nbsp;# : activate to sort column descending"> </th>
                                                        <th width="20%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-label=" Member : activate to sort column ascending"> Id</th>
                                                        <th width="15%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-label=" Purchased&amp;nbsp;On : activate to sort column ascending"> Name </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr role="row" class="odd">
                                                        <td><input type="checkbox"></td>
                                                        <td>1</td>
                                                        <td>Color</td>
                                                    </tr>
                                                    <tr role="row" class="even">
                                                          <td><input type="checkbox"></td>
                                                        <td>2</td>
                                                        <td>Size</td>

                                                    </tr>
                                                    <tr role="row" class="odd">
                                                         <td><input type="checkbox"></td>
                                                        <td>3</td>
                                                        <td>Brand</td>
                                                    </tr>
                                                    <tr role="row" class="even">
                                                        <td><input type="checkbox"></td>
                                                        <td>4</td>
                                                        <td>Sub Category</td>
                                                    </tr>
                                                    <tr role="row" class="even">
                                                          <td><input type="checkbox"></td>
                                                        <td>5</td>
                                                        <td>Quantity</td>
                                                    </tr>
                                                    <tr role="row" class="odd">
                                                          <td><input type="checkbox"></td>
                                                        <td>6</td>
                                                        <td>Color</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
-->
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-7 col-sm-offset-2">
                                <button type="submit" class="btn btn-green"> Send <i class="fa fa-send"></i></button>
                                <button type="submit" class="btn btn-default "> Clear <i class="fa fa-close"></i></button>
                          </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
  
