<style>   
    .img-preview {
        /*        float:right;*/
        overflow: hidden;
        height: 100px;
        width: 100px;
        cursor: pointer;
        border: 1px solid #E0E0E0;
        box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
    }
    .tile_img-preview {
        /*        float:right;*/
        overflow: hidden;
        height: 100px;
        width: 100px;
        cursor: pointer;
        border: 1px solid #E0E0E0;
        box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
    }
    .img-responsive {
        /*width: 128px;*/
    }
    #div1 {
        max-height: 400px;
    }
    #tile_div1 {
        max-height: 400px;
    }
    .img_fav_cause {
        margin-right: 5px;
    }
    .image-c-preview {
        height: 100% !important;
        width: 100% !important;
    }
    #div1{
        max-height: 450px;
    }
    .help-block{
        color: #e73d4a; 
    }
</style>

<div class="page-bar">
    <ul class="page-breadcrumb">
<!--
        <li>
            <a href="javascript:void(0);">Settings</a>
           <i class="fa fa-circle"></i>
        </li>
-->
        <li>
            <i class="fa fa-circle"></i><a href="javascript:void(0);"> Admin Settings</a>
           
        </li>
    </ul>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog pull-right">
        <div class="modal-content">
            <div class="modal-body">
                <div id="div1"></div>
            </div>
            <div class="modal-footer">        
                <button type="button" class="btn red" id="cancel_image">Cancel</button>   
                <button type="button" id="done" class="btn btn-primary">Save changes</button>
            </div>
        </div>    
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="portlet light bordered dash-major-Details margin-top-20">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">My Details</span>
                </div>
                <div class="actions"></div>
            </div>
            <div class="row">
                <form enctype="multipart/form-data" class="form-horizontal member-details-form addform1" id="AdminProfileForm" method="post" action="#">
                    <input type="hidden" value="[[admindetails.id]]" id="id" name="id">
                    <div class="col-sm-3">
                        <div class="member-img ">
                            <div class="form-control-static col-md-3">
                                <div style="display:none">
                                    <input type="file" name="profile_image" id="avatar" style="display:none" data-error-container="#image-error" accept='image/x-png,image/jpeg' />
                                    <input type="hidden" id="x1" name="x1" />
                                    <input type="hidden" id="y1" name="y1" />
                                    <input type="hidden" id="x2" name="x2" />
                                    <input type="hidden" id="y2" name="y2" />
                                    <input type="hidden" id="w" name="w" />
                                    <input type="hidden" id="h" name="h" />                            
                                </div>
                                <div class="img-preview" style="height:100px;width:100px;cursor:pointer;" onclick="$('#avatar').click();">
                                    <img src="[[ admindetails.profile_image]]" class="img-responsive user-image">
                                </div>
                                <div>
                                    <div id="image-error"></div>
                                    <br>
                                    <!--<small>(Only .jpg, .jpeg, .png allowed)</small>-->
                                </div>                               
                            </div>
                        </div>
                    </div>  
                    <div class="col-sm-9">
                        <div class="form-body">
                            <div class="form-group ">
                                <label class="col-md-3 control-label">Name :</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="name" placeholder="Enter name" value="[[admindetails.name ]]">
                                </div>
                            </div>
                            <!--/span-->
                            <div class="form-group ">
                                <label class="col-md-3 control-label">Email :</label>
                                <div class="col-md-9">
                                    <input type="email" class="form-control" name="email_address" placeholder="Enter email address" value="[[admindetails.email_address]]">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-sm-2">
                                    <button type="submit" class="btn btn-green"><i class="fa fa-save"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="portlet light bordered dash-major-Details margin-top-20">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">Change Password</span>
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form action="#" method="post" class="form-horizontal member-details-form" id="ChangePasswordForm">
                        <div class="form-body">
                            <div class="form-group ">
                                <label class="col-md-5 control-label">Old Password :</label>
                                <div class="col-md-7">
                                    <input type="password" class="form-control" placeholder="Old password" name="old_password" id="old_password">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-5 control-label">New Password :</label>
                                <div class="col-md-7">
                                    <input type="password" class="form-control" placeholder="New password" name="new_password" id="new_password"> 
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-md-5 control-label">Confirm Password :</label>
                                <div class="col-md-7">
                                    <input type="password" class="form-control" placeholder="Confirm password" name="confim_password" id="confim_password"> 
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-5 col-sm-2">
                                    <button type="submit" class="btn btn-green"><i class="fa fa-save"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function () {
    var original;
    setTimeout(function(){
        original = $(".img-responsive").attr('src');
    }, 1000);
    //Image crope code
    $('#avatar').on('change', function () {
        $('#div1').css('display', 'none');
        $('#done').css('display', 'none');
        $('#theImg').attr('src', '');
        $(".img-preview > img").attr('src', original);
        $(".img-preview > img").css('height', '100px');
        $(".img-preview > img").css('width', '100px');
        $(".img-preview > img").css('margin-left', '0px');
        $(".img-preview > img").css('margin-top', '0px');
        $(".img-preview > img").css('background-color', 'white');
        var input = $(this)[0];
        var file = input.files[0];
        var reader = new FileReader();
        reader.onload = function (e)
        {
            $('#myModal').modal('show');
            $("#theImg").remove();
            $(".cropper-container").remove();
            $('#div1').append('<img id="theImg" src="' + e.target.result + '" class="cropper" />');
            img = document.getElementById('theImg');
            var width = img.clientWidth;
            var height = img.clientHeight;
            $('.img-preview').css('display', 'block');
            $('#div1').css('display', 'block');
            $('#done').css('display', 'inline');
            $(".cropper").cropper({
                aspectRatio: 1 / 1,
                scrict: true,
                preview: ".img-preview",
                crop: function (data) {
                    $("#x1").val(data.x);
                    $("#x2").val(data.x);
                    $("#y1").val(data.y);
                    $("#y2").val(data.y);
                    $("#h").val(data.height);
                    $("#w").val(data.width);
                },
                built: function () {
                    $('.cropper').cropper('setCropBoxData', {
                        width: 200,
                        height: 200
                    });
                }
            });
        }
        reader.readAsDataURL(file);
    });
    $('#done').click(function () {
        $('#myModal').modal('hide');
    });

    $('#cancel_image').on('click', function () {
        $('#coursecategory').val('');
        $(".img-preview > img").attr('src', original);
        $(".img-preview > img").css('height', '100px');
        $(".img-preview > img").css('width', '100px');
        $(".img-preview > img").css('margin', '0px');
        $(".img-preview > img").css('background-color', 'white');
        $('#edit_thumb').css('display', 'none');
        $('#myModal').modal('hide');
    });
    // End image crope code
    
    //Update Image,Name,Email
    var AdminProfileForm = $('#AdminProfileForm');
        var error2 = $('.alert-danger', AdminProfileForm);
        var success2 = $('.alert-success', AdminProfileForm);
        AdminProfileForm.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            rules: {
                name: {
                    required: true
                },
                email_address:{
                    required : true,
                    email : true
                },
                profile_image:{
                    accept: "image/jpg,image/jpeg,image/png"
                }
            },
            messages: {
                name: {
                    required: "Name required."
                },
                email_address:{
                    required: "Email required.",
                    email: "Please enter valid email"
                },
                profile_image:{
                    accept: "Only jpg,jpeg,png allowed."
                }
            },
            invalidHandler: function(event, validator) { //display error alert on form submit              
                success2.hide();
                error2.show();
                //App.scrollTo(error2, -200);
            },
            errorPlacement: function (from, error) { // render error placement for each input type
                error.parent(".input-group").size() > 0 ? from.insertAfter(error.parent(".input-group")) : error.attr("data-error-container") ? from.appendTo(error.attr("data-error-container")) : error.parents(".radio-list").size() > 0 ? from.appendTo(error.parents(".radio-list").attr("data-error-container")) : error.parents(".radio-inline").size() > 0 ? from.appendTo(error.parents(".radio-inline").attr("data-error-container")) : error.parents(".checkbox-list").size() > 0 ? from.appendTo(error.parents(".checkbox-list").attr("data-error-container")) : error.parents(".checkbox-inline").size() > 0 ? from.appendTo(error.parents(".checkbox-inline").attr("data-error-container")) : from.insertAfter(error)
            },
            highlight: function(element) { // hightlight error inputs
                $(element).closest('.form-group > div').removeClass("has-success").addClass('has-error'); // set error class to the control group   
            },
            submitHandler: function(form) {
                success2.show();
                error2.hide();
                //Submit data with ajax
                var formData = new FormData($("#AdminProfileForm")[0]);
                $.ajax({
                    type: "POST",
                    url: 'adminprofile/updatepersonalinfo',
                    contentType: false,
                    processData: false,
                    data: formData,
               }).done(function(data){
                    if(data.success){
                        toastr.success(data.message, 'Success');
                    }else{
                        toastr.error(data.message, 'Error');
                        return false;
                    }
              });
            //submit data with ajax end
            }
        });
    //Update Image,Name,Email end
    
    //Change password validation and ajax update
    var ChangePasswordForm = $('#ChangePasswordForm');
        var error2 = $('.alert-danger', ChangePasswordForm);
        var success2 = $('.alert-success', ChangePasswordForm);
        ChangePasswordForm.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            rules: {
                old_password: {
                    required: true,
                    minlength: 6,
                    maxlength: 10
                },
                new_password: {
                    required: true,
                    minlength: 6,
                    maxlength: 10
                },
                confim_password: {
                    required: true,
                    minlength: 6,
                    equalTo : "#new_password",
                    maxlength: 10
                }
            },
            messages: {
                old_password: {
                    required: "Old password is required."
                },
                new_password:{
                    required: "New password is required."
                }
            },
            invalidHandler: function(event, validator) { //display error alert on form submit              
                success2.hide();
                error2.show();
                //App.scrollTo(error2, -200);
            },
            errorPlacement: function (from, error) { // render error placement for each input type
                error.parent(".input-group").size() > 0 ? from.insertAfter(error.parent(".input-group")) : error.attr("data-error-container") ? from.appendTo(error.attr("data-error-container")) : error.parents(".radio-list").size() > 0 ? from.appendTo(error.parents(".radio-list").attr("data-error-container")) : error.parents(".radio-inline").size() > 0 ? from.appendTo(error.parents(".radio-inline").attr("data-error-container")) : error.parents(".checkbox-list").size() > 0 ? from.appendTo(error.parents(".checkbox-list").attr("data-error-container")) : error.parents(".checkbox-inline").size() > 0 ? from.appendTo(error.parents(".checkbox-inline").attr("data-error-container")) : from.insertAfter(error)
            },
            highlight: function(element) { // hightlight error inputs
                $(element).closest('.form-group > div').removeClass("has-success").addClass('has-error'); // set error class to the control group   
            },
            submitHandler: function(form) {
                success2.show();
                error2.hide();
                //Submit data with ajax
                var formData = new FormData($("#ChangePasswordForm")[0]);
                
                $.ajax({
                url: 'adminprofile/changepassword',
                processData: false,
                contentType: false,
                type: "POST",
                data: formData,
                beforeSend: function() { $(".page-spinner-bar").show(); },
                success: function (data) {
                        if(data.success){
                             $(".page-spinner-bar").hide();
                            $('#ChangePasswordForm')[0].reset();
                            toastr.success(data.message, 'Success');
                        } else {
                            toastr.error(data.message, 'Error');
                            return false;
                        }
                    }
                });
                
//                $.ajax({
//                    type: "POST",
//                    url: 'adminprofile/changepassword',
//                    contentType: false,
//                    processData: false,
//                    data: formData,
//               })
//                    .done(function(data){
//                    if(data.success){
//                        $('#ChangePasswordForm')[0].reset();
//                        toastr.success(data.message, 'Success');
//                    }else{
//                        toastr.error(data.message, 'Error');
//                        return false;
//                    }
//              });
//           
            }
        });
    //Change password validation and ajax update end
});
</script>

