<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:void(0);">Manage</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="javascript:void(0);">Terms &amp; conditions</a>            
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- END PAGE HEADER-->
<!-- Start Add & Update Category-->
<div class="row margin-top-20">
    <div class="col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green sbold uppercase">Terms & Condition</span>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="" method="post" name="TermsConditionForm">
                    <div class="form-body">
                        <div class="form-group">
                            <label class=" control-label col-sm-3">Terms & Condition Text For Sign Up: </label>
                            <div class="col-sm-9">
                                <div data-provide="markdown-editable" class="well">
                                    <textarea class="ckeditor form-control" id="editorDeTemplates" required="" name="terms_and_conditions" ng-model="terms_and_conditions" rows="20"></textarea>                                        
                                </div>
                                <span style="color:#e73d4a" ng-show="TermsConditionForm.terms_and_conditions.$dirty && TermsConditionForm.terms_and_conditions.$invalid">
                                    <span ng-show="TermsConditionForm.terms_and_conditions.$error.required">Text is required.</span>
                                </span>
                            </div>
                        </div>
                    </div>
                  
                   
                        <div class="row" style="padding-bottom: 32px;">
                            <div class="col-md-7 text-center margin-left-25">
                                <a href="javascript:;" class="btn btn-green" ng-click="UpdateTermsCondition()"> Update <i class="fa fa-refresh"></i></a>
                            </div>
                        </div>
                         <div class="form-actions"  > </div>
                    
                </form>
                <!-- END FORM-->
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="" method="post" name="Job_Posting">
                    <div class="form-body">
                        <div class="form-group">
                            <label class=" control-label col-sm-3">Text For Disclaimer: </label>
                            <div class="col-sm-9">
                                <div data-provide="markdown-editable" class="well">
                                    <textarea class="ckeditor form-control" id="editorquestion" required="" name="Question" ng-model="Question" rows="3"></textarea>                                        
                                </div>
                                <span style="color:#e73d4a" ng-show="Job_Posting.Question.$dirty && Job_Posting.Question.$invalid">
                                    <span ng-show="Job_Posting.Question.$error.required">Text is required.</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                        <div class="row" style="padding-bottom: 32px;">
                            <div class="col-md-7 text-center margin-left-25">
                                <a href="javascript:;" class="btn btn-green" ng-click="UpdateJobPosting()"> Update <i class="fa fa-refresh"></i></a>
                            </div>
                        </div>
                     <div class="form-actions"  > </div>
                </form>
                <!-- END FORM-->
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="" method="post" name="Job_Applying">
                    <div class="form-body">
                        <div class="form-group">
                            <label class=" control-label col-sm-3">Terms & Condition Text For Job Applying: </label>
                            <div class="col-sm-9">
                                <div data-provide="markdown-editable" class="well">
                                    <textarea class="ckeditor form-control" id="editoranswer" required="" name="answer" ng-model="answer" rows="5"></textarea>                                        
                                </div>
                                <span style="color:#e73d4a" ng-show="Job_Applying.answer.$dirty && Job_Applying.answer.$invalid">
                                    <span ng-show="Job_Applying.answer.$error.required">Text is required.</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                   
                        <div class="row" style="padding-bottom: 32px;" >
                            <div class="col-md-7 text-center margin-left-25">
                                <a href="javascript:;" class="btn btn-green" ng-click="UpdatejobApplying()"> Update <i class="fa fa-refresh"></i></a>
                            </div>
                        </div>
                   
                    <div class="form-actions"  > </div>
                </form>
                <!-- END FORM-->
            </div>
                <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="" method="post" name="contact_us_form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class=" control-label col-sm-3">Contact Us Text:</label>
                            <div class="col-sm-9">
                                <div data-provide="markdown-editable" class="well">
                                    <textarea class="ckeditor form-control" id="editorcontactus" required="" name="contact_us" ng-model="contact_us" rows="10"></textarea>                                        
                                </div>
                                <span style="color:#e73d4a" ng-show="contact_us_form.contact_us.$dirty && contact_us_form.contact_us.$invalid">
                                    <span ng-show="contact_us_form.contact_us.$error.required">Text is required.</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 32px;" >
                            <div class="col-md-7 text-center margin-left-25">
                                <a href="javascript:;" class="btn btn-green" ng-click="Updatecontact_us()"> Update <i class="fa fa-refresh"></i></a>
                            </div>
                        </div>
                    <div class="form-actions"> </div>
                </form>
                <!-- END FORM-->
            </div>
            
        </div>
    </div>
</div>
<script src='assets/lib/ckeditor/ckeditor.js'></script>
<script>
    var editor = CKEDITOR.replace('editorDeTemplates');
    var editor_Contactus = CKEDITOR.replace('editorcontactus');
    var editor_Que = CKEDITOR.replace('editorquestion');
    var editor_Ans = CKEDITOR.replace('editoranswer');
</script>