<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:void(0);">Users</a>
            <i class="fa fa-circle"></i>
            <a href="javascript:void(0);">User Listing</a>
        </li>
    </ul>
</div>
<div class="row margin-top-20">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green sbold uppercase"><i class="icon-all-users"></i> User Listing </span>
                </div>
                <div class="actions xs-filter">
                    <div class="btn-group">
                        <div class="table-group-actions pull-right ">
                             <label class="table-group-action-input input-inline" style="margin-bottom:0px;">Roles :</label>
                             <select class="table-group-action-input input-sm form-control input-small input-inline" id="role_users" name="role_users">
                                <option value="" selected>Both</option>
                                <option value="1">Requester</option>
                                <option value="2">Agent</option>
                            </select>
                        </div>
                    </div>
<!--
                    <a href="javascript:;" class="btn btn-green">
                        <i class="fa fa-filter"></i>
                        <span> Fillter </span>
                    </a>
-->
                    <a href="javascript:;" class="btn btn-default " id="users_reset">
                        <i class="fa fa-refresh"></i>
                        <span> Reset </span>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <div id="datatable_orders_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="table-group-actions  meamber-search">
                                    <div class="input-icon">
                                        <i class="fa fa-search font-green"></i>
                                        <input type="text" class="form-control input-large" placeholder="Search By Name" id="users_search"> </div>
<!--
                                            <button class="btn btn-green table-group-action-submit">
                                                Search
                                            </button>
-->
                                </div>    
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="table-group-actions pull-right ">
                                    <span></span>
                                    <label class="table-group-action-input input-inline" style="margin-bottom:0px;">Export to:</label>
                                    <select class="table-group-action-input form-control input-small input-inline " id="export_from">
                                        <option value="1" selected>Excel</option>
                                        <option value="2">Pdf</option>
                                    </select>
                                    <button class="btn btn-green inline" id="download_files"><i class="fa fa-download"></i></button>
                                </div>
                            </div>
                        </div>
                     <div class="table-scrollable margin-top-20" >
                            <table class="table table-striped table-bordered table-hover" id="user_list">
                                <thead>
                                        <th> User# </th>
                                        <th> Name</th>
                                        <th> Login Type </th>
                                        <th> Email </th>
                                        <th> Contact </th>
                                        <th> Role </th>
                                        <th> Referrel Code </th>
                                        <th> Status </th>
                                        <th> Last Login </th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                </tbody>
                            </table>
                        </div>
<!--
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <div class="dataTables_paginate paging_bootstrap_extended">
                                    <div class="pagination-panel"> Page <a href="#" class="btn btn-sm default prev disabled"><i class="fa fa-angle-left"></i></a>
                                        <input type="text" class="pagination-panel-input form-control input-sm input-inline input-mini" maxlength="5" style="text-align:center; margin: 0 5px;">
                                        <a href="#" class="btn btn-sm default next"><i class="fa fa-angle-right"></i></a> of <span class="pagination-panel-total">18</span>
                                    </div>
                                </div>
                                <div class="dataTables_length">
                                    <label><span class="seperator">|</span>View
                                        <select name="datatable_orders_length" aria-controls="datatable_orders" class="form-control input-xs input-sm input-inline">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="150">150</option>
                                            <option value="-1">All</option>
                                        </select> records</label>
                                </div>
                                <div class="dataTables_info"><span class="seperator">|</span>Found total 178 records</div>
                            </div>
                            <div class="col-md-4 col-sm-12"></div>
                        </div>
-->
                    </div>
                </div>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>
<!-- END CONTAINER -->
<script src='assets/lib/datatables/datatable.min.js'></script>
<script src='assets/lib/datatables/plugins/bootstrap/datatables.bootstrap.js'></script>


<script>
$(document).ready(function(){ 
    
    
            $(document).on('click', '#download_files', function(){
                
                        var export_var = $("#export_from").val();
                        if(export_var == 1){
                            window.location.href = base_url + 'users/generatecsv';
                        }
                        if(export_var == 2){
                             window.location.href = base_url + 'users/generatepdf';
                        }
            });
        
            
      
            // begin first table
            var userList_table = $('#user_list');
            userList_table.dataTable({
                // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                "processing": false,
                "serverSide": true,
                'bAutoWidth': false,
                "ajax": {
                        'type': 'POST',
                         'url': base_url+"users/allusersdata",
                         'data': function(params){
                                params.roles_ids = $("#role_users").val();
                         }
                
                },
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No record (s) available.",
                    "info": "Found _START_ to _END_ of _TOTAL_ records",
                    "infoEmpty": "No records found",
                    "infoFiltered": "(filtered1 from _MAX_ total records)",
                    "lengthMenu": "View _MENU_ records",
                    "search": "Search:",
                    "zeroRecords": "No matching records found",
                    "paginate": {
                        "previous":"Prev",
                        "next": "Next",
                        "last": "Last",
                        "first": "First"
                    }
                },    
                "dom": "<'row'<'col-md-6 col-sm-12'><'col-md-6 col-sm-12'>r>t<'row'<'col-md-3 col-sm-12'l><'col-md-4 col-sm-12'i><'col-md-5 col-sm-12 text-right'p>>",
                "bStateSave": false, // save datatable state(pagination, sort, etc) in cookie.
                "columns": [
                    {"data": "id","name":"id"},		                         	     
                    {"data": "name","name":"name","searchable": true},
                    {"data": "from_social_network", "name":"from_social_network"},
                    {"data": "email_address","name":"email_address"},
                    {"data": "phone_number","name":"phone_number", "orderable": false, "searchable": false},
                    {"data": "user_type","name":"user_type", "orderable": true, "searchable": false , "render": function(data, type, row){
                       if (data == 'Requester') {
                            return '<div class="requester">Requester</div>';
                    }else if (data == 'Agent') {
                            return '<div class="agent">Agent</div>';
                    }
                    }},
                    {"data": "my_referral_code","name":"my_referral_code", "orderable": false, "searchable": false},
                    {"data": "status", "name": "status", "render": function(data, type, row) {
                    if (data == 1) {
                         $(".label-inreview").parent();
                                     return '<button class="btn btn-sm btn-primary btn-block filter-submit margin-bottom"></i>Active</button>';
                    }  else if (data == 2) { // Unverified
                            $(".label-expired").parent();
                            return '<button class="btn btn-sm btn-success btn-block filter-submit margin-bottom"></i>Unverified</button>';
                    } else if (data == 0) { // Deactive
                            $(".label-cancelled").parent();
                            return '<button class="btn btn-sm btn-danger btn-block filter-submit margin-bottom"> Deactivated</button>';
                    }
                    }},
                    {"data": "last_login","name":"last_login", "orderable": false, "searchable": true}
                    
                ],    
                ordering: true,
                "lengthMenu": [
                    [10, 30, 50, -1],
                    [10, 30, 50, "All"] // change per page values here
                ],
                // set the initial value
                "pageLength": 10,            
                "pagingType": "bootstrap_full_number"
            });
            
        var oTable1 = $('#user_list').DataTable();
        
            var role_users = $("#role_users").val();
            $("#role_users").change(function(){                
                    oTable1.draw();
            });
         
            
        $(document).on('click', "#users_reset", function(e) {
                e.preventDefault();
                $("#role_users").val('0');
                $("#users_search").val('');
                oTable1.draw();
        });
             
             $('#users_search').keyup(function(){
               oTable1.search( $(this).val() ).draw();
            });
            // for searching from front user table.
});

</script>


