<style>
    .modal-title{ text-align: center;}
</style>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:void(0);">User</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="javascript:void(0);">User Details</a>

        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light bordered dash-major-Details margin-top-20">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase">User Details</span>
                </div>
                <div class="actions">
                    <label class="control-label"> <Span class="font-green"> Last active :</Span> <span> [[ userdetails.last_active]] </span></label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="member-img margin-top-15">
                        <img src="[[userdetails.profile_pic]]"/>
                        <div class="fa-invited"> <span>Login Type</span> : <span>[[ userdetails.login_type ]]</span></div>
                         <input type="hidden" value="[[ userdetails.status ]]" id="user_activate">
                        <a class="btn btn-info margin-top-10" ng-if="userdetails.status == 0" ng-click="userdeactivate(userdetails,userdetails.status, userdetails.id)">Activate User</a>
                        <a class="btn btn-danger margin-top-10" ng-if="userdetails.status == 1" ng-click="userdeactivate(userdetails,userdetails.status, userdetails.id)">Deactive User</a>
                        <a class="btn btn-success margin-top-10" ng-if="userdetails.status == 2">Unverify User</a>
                    </div>
                </div>  
                <div class="col-sm-9">
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form class="form-horizontal  member-details-form" role="form">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">                                            
                                            <label class="control-label col-md-5">Name :</label>
                                            <input type="hidden" value="[[userdetails.id]]" id="user_id">
                                            <div class="col-md-7">
                                                <p class="form-control-static"> [[userdetails.name]] </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    
                                    <!--/span-->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Email :</label>
                                            <div class="col-md-7">
                                                <p class="form-control-static" ng-hide="userdetails.from_social_network == 1"> [[userdetails.email_address]] </p>
                                                <p class="form-control-static" ng-show="userdetails.from_social_network == 1"> N/A </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Joined:</label>
                                            <div class="col-md-7">
                                                <p class="form-control-static"> [[userdetails.joined]]</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class=" col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Contact :</label>
                                            <div class="col-md-7">
                                                <p class="form-control-static"> [[userdetails.phone_number]] </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">User Balance :</label>
                                            <div class="col-md-7">
                                                <p class="form-control-static"> 0 HK$ </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Promo Balance :</label>
                                            <div class="col-md-7">
                                                <p class="form-control-static"> 0 HK$ </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Average Agent Rating :</label>
                                            <div class="col-md-7">
                                                <input type="hidden" value="[[userdetails.agent_ratings]]" id="agent_rating">
                                                <span class="form-control-static rating-star agent_rating">
                                                    <!--                                                    <span class="fa fa-star"></span>
                                                                                                        <span class="fa fa-star"></span>
                                                                                                        <span class="fa fa-star-half-o"></span>
                                                                                                        <span class="fa fa-star-o"></span>
                                                                                                        <span class="fa fa-star-o"></span>-->
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">Average Requester Rating:</label>
                                            <div class="col-md-7">
                                                <input type="hidden" value="[[userdetails.questioner_ratings]]" id="questioner_rating">
                                                <span class="form-control-static rating-star questioner_rating">
                                                    <!--                                                    <span class="fa fa-star"></span>
                                                                                                        <span class="fa fa-star"></span>
                                                                                                        <span class="fa fa-star"></span>
                                                                                                        <span class="fa fa-star"></span>
                                                                                                        <span class="fa fa-star-o"></span>-->
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <!--/row-->
                            </div>    
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End USer Information -->
<div class="clearfix" ></div>
<!--Start Question List-->
<div class="row ">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class=" icon-social-twitter font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Requester</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <!-- BEGIN: Actions -->
                    <div id="datatable_orders_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer weekly-list">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover dataTable no-footer " id="QuestionerTable" aria-describedby="datatable_orders_info" role="grid">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th width="10%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-label=" Order&amp;nbsp;# : activate to sort column descending"> Job#</th>
                                        <th width="30%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-label=" Member : activate to sort column ascending"> Job Title</th>
                                        <th width="20%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-label=" Member : activate to sort column ascending"> Category</th>
                                        <th width="20%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-label=" Member : activate to sort column ascending">  End Date</th>
                                        <th width="10%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-label=" Member : activate to sort column ascending"> Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                    <!-- END: Actions -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Question List-->
<div class="clearfix" ></div>
<!-- Agent List-->
<div class="row ">
    <div class="col-md-12">

        <div class="portlet light bordered">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class=" icon-social-twitter font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Agent</span>
                </div>

            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <!-- BEGIN: Actions -->
                    <div id="datatable_orders_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer weekly-list">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover dataTable no-footer " id="AgentTable" aria-describedby="datatable_orders_info" role="grid">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th width="10%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-label=" Order&amp;nbsp;# : activate to sort column descending"> Job#</th>
                                        <th width="30%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-label=" Member : activate to sort column ascending"> Job Title</th>
                                        <th width="20%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-label=" Member : activate to sort column ascending"> Category</th>
                                        <th width="20%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-label=" Member : activate to sort column ascending">  End Date</th>
                                        <th width="10%" tabindex="0" aria-controls="datatable_orders" rowspan="1" colspan="1" aria-label=" Member : activate to sort column ascending"> Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END: Actions -->
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {

        setTimeout(function() {
            timeFunction();
        }, 1000);

        function timeFunction() {
            var questioner_rating = $('#questioner_rating').val();
            var agent_rating = $('#agent_rating').val();

            $('.questioner_rating').raty({
                half: true,
                score: questioner_rating,
                readOnly: true
            });

            $('.agent_rating').raty({
                half: true,
                score: agent_rating,
                readOnly: true
            });

            var user_id = $('#user_id').val();

            //Questioner datatable code start
            var QuestionerTable = $('#QuestionerTable');
            // begin first table
            QuestionerTable.dataTable({
                "processing": false,
                "serverSide": true,
                "ajax": "users/allquestioner/" + user_id,
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No history available for this user as requester.",
                    "info": "Found _START_ to _END_ of _TOTAL_ records",
                    "infoEmpty": "",
                    "infoFiltered": "(filtered1 from _MAX_ total records)",
                    "lengthMenu": "View _MENU_ records",
                    "search": "Search:",
                    "zeroRecords": "No matching records found",
                    "paginate": {
                        "previous": "Prev",
                        "next": "Next",
                        "last": "Last",
                        "first": "First"
                    }
                },
                "dom": "<'row'<'col-md-6 col-sm-12'><'col-md-6 col-sm-12'>r>t<'row'<'col-md-3 col-sm-12'l><'col-md-4 col-sm-12'i><'col-md-5 col-sm-12 text-right'p>>",
                "bStateSave": false, // save datatable state(pagination, sort, etc) in cookie.
                "columns": [
                    {"data": "job_id", "name": "job_id", "width": "5%", "orderable": false, "searchable": false},
                    {"data": "job_title", "name": "job_title", "width": "45%", "orderable": false, "searchable": false},
                    {"data": "category_name", "name": "category_name", "width": "15%", "orderable": false, "searchable": false},
                    {"data": "end_date", "name": "end_date", "width": "15%", "orderable": false, "searchable": false},
                    {"data": "job_status", "name": "job_status", "render": function(data, type, row) {
                            if (data == 1) { // Created
                                $(".label-created").parent();
                                return '<button class="btn btn-sm btn-info btn-block filter-submit margin-bottom"> <i class="fa fa-external-link"></i> Open</button>';
                            } else if (data == 2) { // In Processing
                                $(".label-inreview").parent();
                                return '<button class="btn btn-sm btn-primary btn-block filter-submit margin-bottom"> <i class="fa fa-cog"></i> Applied </button>';
                            } else if (data == 3) { // Shipped
                                $(".label-active").parent();
                                return '<button class="btn btn-sm yellow btn-block filter-submit margin-bottom"> <i class="icon-pause"></i> Inprocess</button>';
                            } else if (data == 4) { // Received
                                $(".label-expired").parent();
                                return '<button class="btn btn-sm btn-success btn-block filter-submit margin-bottom"> <i class="icon-check"></i> Completed</button>';
                            } else if (data == 5) { // Cancled
                                $(".label-cancelled").parent();
                                return '<button class="btn btn-sm btn-danger btn-block filter-submit margin-bottom"> <i class="fa fa-close"></i> Paused</button>';
                            }
                             else if (data == 6) { // Cancled
                                $(".label-cancelled").parent();
                                return '<button class="btn btn-sm btn-danger btn-block filter-submit margin-bottom"> <i class="fa fa-close"></i> Resume</button>';
                            }
                            else if (data == 7) { // Cancled
                                $(".label-cancelled").parent();
                                return '<button class="btn btn-sm btn-danger btn-block filter-submit margin-bottom"> <i class="fa fa-close"></i> Cancelled</button>';
                            }
                        }
                    }
                ],
                ordering: false,
                "lengthMenu": [
                    [10, 30, 50, -1],
                    [10, 30, 50, "All"] // change per page values here
                ],
                // set the initial value
                "pageLength": 10,
                "pagingType": "bootstrap_full_number"
            });
            //Questioner datatable code end 

            //Agent datatable code start
            var AgentTable = $('#AgentTable');
            // begin first table
            AgentTable.dataTable({
                "processing": false,
                "serverSide": true,
                "ajax": "users/allagent/" + user_id,
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No history available for this user as agent.",
                    "info": "Found _START_ to _END_ of _TOTAL_ records",
                    "infoEmpty": "",
                    "infoFiltered": "(filtered1 from _MAX_ total records)",
                    "lengthMenu": "View _MENU_ records",
                    "search": "Search:",
                    "zeroRecords": "No matching records found",
                    "paginate": {
                        "previous": "Prev",
                        "next": "Next",
                        "last": "Last",
                        "first": "First"
                    }
                },
                "dom": "<'row'<'col-md-6 col-sm-12'><'col-md-6 col-sm-12'>r>t<'row'<'col-md-3 col-sm-12'l><'col-md-4 col-sm-12'i><'col-md-5 col-sm-12 text-right'p>>",
                "bStateSave": false, // save datatable state(pagination, sort, etc) in cookie.
                "columns": [
                    {"data": "job_id", "name": "job_id", "width": "5%", "orderable": false, "searchable": false},
                    {"data": "job_title", "name": "job_title", "width": "45%", "orderable": false, "searchable": false},
                    {"data": "category_name", "name": "category_name", "width": "15%", "orderable": false, "searchable": false},
                    {"data": "end_date", "name": "end_date", "width": "15%", "orderable": false, "searchable": false},
                    {"data": "job_status", "name": "job_status", "render": function(data, type, row) {
                            if (data == 1) { // Created
                                $(".label-created").parent();
                                return '<button class="btn btn-sm btn-info btn-block filter-submit margin-bottom"> <i class="fa fa-external-link"></i> Open</button>';
                            } else if (data == 2) { // In Processing
                                $(".label-inreview").parent();
                                return '<button class="btn btn-sm btn-primary btn-block filter-submit margin-bottom"> <i class="fa fa-cog"></i> Applied </button>';
                            } else if (data == 3) { // Shipped
                                $(".label-active").parent();
                                return '<button class="btn btn-sm yellow btn-block filter-submit margin-bottom"> <i class="icon-pause"></i> Inprocess</button>';
                            } else if (data == 4) { // Received
                                $(".label-expired").parent();
                                return '<button class="btn btn-sm btn-success btn-block filter-submit margin-bottom"> <i class="icon-check"></i> Completed</button>';
                            } else if (data == 5) { // Cancled
                                $(".label-cancelled").parent();
                                return '<button class="btn btn-sm btn-danger btn-block filter-submit margin-bottom"> <i class="fa fa-close"></i> Paused</button>';
                            }
                             else if (data == 6) { // Cancled
                                $(".label-cancelled").parent();
                                return '<button class="btn btn-sm btn-danger btn-block filter-submit margin-bottom"> <i class="fa fa-close"></i> Resume</button>';
                            }
                            else if (data == 7) { // Cancled
                                $(".label-cancelled").parent();
                                return '<button class="btn btn-sm btn-danger btn-block filter-submit margin-bottom"> <i class="fa fa-close"></i> Cancelled</button>';
                            }
                        }
                    }
                ],
                ordering: false,
                "lengthMenu": [
                    [10, 30, 50, -1],
                    [10, 30, 50, "All"] // change per page values here
                ],
                // set the initial value
                "pageLength": 10,
                "pagingType": "bootstrap_full_number"
            });
            //Agent datatable code end
        }

    });
</script>